{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}

{% block meta %}
    {{block.super}}
    <meta http-equiv="refresh" content="0;URL='{{lockdown_url}}'" />
{% endblock meta %}

{% block title %}{{request.resource.title}} - {{block.super}}{% endblock title %}

{% block content %}
    <header>
        <h1>
            {{request.resource.title}}
        </h1>
    </header>

    <main>
        <p>{% translate "This resource must run in the Numbas lockdown app." %}</p>
        <p>{% translate "The Numbas lockdown app will open automatically, if you have it installed." %}</p>

        {% if install_url %}
        <p><a class="button info" href="{{install_url}}" target="_blank">{% icon 'download' %} {% translate "Install the app" %}</a></p>
        {% endif %}

        {% if request.resource.show_lockdown_app_password and password %}
        <div class="alert info">
            <p>{% translate "The password to open the exam is" %}</p>
            <pre class="lockdown-app-password">{{password}}</pre>
        </div>
        {% endif %}

        <p>{% translate "Or, click the link below to open this resource in the Numbas lockdown app:" %}</p>
        <p><a class="button large primary" href="{{lockdown_url}}">{% translate "Launch in the Numbas lockdown app" %}</a></p>
    </main>
</div>
{% endblock content %}

