Django==2.2.4
oauthlib==3.0.1
lxml==4.3.0
channels==1.1.8
git+https://github.com/christianp/django-auth-lti@oauthlib#egg=django_auth_lti
requests==2.21.0
requests-oauthlib==1.2.0
django-bootstrap-form==3.4
simplejson==3.16.0
django-bootstrap-datepicker-plus==3.0.5
whitenoise==2.0.6
dj-database-url==0.4.0
psycopg2==2.6.1
redis==2.10.5
asgi-redis==0.13.1
msgpack-python==0.4.7
redis==2.10.5
haikunator==1.0.1
