{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}

{% block body_class %}login centered{{block.super}}{% endblock body_class %}

{% block title %}{% translate "Log in as an administrator" %} - {{block.super}}{% endblock %}

{% block content %}
    <header>
        <h1>{% translate "Log in as an administrator" %}</h1>
    </header>

    <main>
        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="button primary">{% icon 'log-in' %} {% translate "Log in" %}</button>
        </form>
    </main>

    {% include "numbas_lti/management/footer.html" %}
{% endblock content %}
