{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load helplink %}
{% load static %}

{% block body_class %}{{block.super}} admin{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'admin-dashboard.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'admin-dashboard.js' %}"></script>
{% endblock %}

{% block content %}
    <nav id="top-nav">
        <span class="navbar-brand">{% block nav_title %}{{INSTANCE_NAME}} {% translate "Numbas LTI provider" %}{% endblock nav_title %}</span>

        <a {% if management_tab == 'consumers' %} aria-current="page"{% endif %} href="{% url 'list_consumers' %}">{% icon 'houses' %} {% translate "LTI Consumers" %}</a>
        <a {% if management_tab == 'editor-links' %} aria-current="page"{% endif %} href="{% url 'list_editorlinks' %}">{% icon 'link' %} {% translate "Editor links" %}</a>
        <a {% if management_tab == 'stress-tests' %} aria-current="page"{% endif %} href="{% url 'list_stresstests' %}">{% icon 'scale' %} {% translate "Stress tests" %}</a>
        <a {% if management_tab == 'dashboard' %} aria-current="page"{% endif %} href="{% url 'global_dashboard' %}">{% icon 'dashboard' %} {% translate "Dashboard" %}</a>
        <a {% if management_tab == 'lockdown' %} aria-current="page"{% endif %} href="{% url 'lockdown_dashboard' %}">{% icon 'lock' %} {% translate "Lockdown apps" %}</a>

        <form id="search-form" method="GET" action="{% url 'global_search' %}">
            <input aria-labelledby="search-button" class="form-control" type="search" id="search" name="query" autocomplete="off" value="{{global_search_query}}">
            <input type="hidden" name="model" value="{{global_search_model}}">
            <button id="search-button" type="submit" class="btn btn-default">{% translate "Search" %}</button>
        </form>
        <a id="admin-link" href="/admin">{% icon 'cog' %} {% translate "Admin site" %}</a>
    </nav>

    {% if page_helplink %}
        <p>{% helplink page_helplink %}</p>
    {% endif %}

    <header>
        {% block management_header %}{% endblock management_header %}
    </header>

    <main>
        {% for message in messages %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {%endfor %}

        {% block management_content %}{% endblock %}
    </main>

    {% include "numbas_lti/management/footer.html" %}
{% endblock content %}

