{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load helplink %}
{% load static %}

{% block body_class %}{{block.super}} admin{% endblock %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'admin-dashboard.js' %}" type="module"></script>
{% endblock %}

{% block content %}
    <nav id="top-nav">
        <span class="navbar-brand">{% block nav_title %}{{INSTANCE_NAME}} {% translate "Numbas LTI provider" %}{% endblock nav_title %}</span>

        <a {% if management_tab == 'consumers' %} aria-current="page"{% endif %} href="{% url 'list_consumers' %}">{% icon 'houses' %} {% translate "LTI Consumers" %}</a>
        <a {% if management_tab == 'editor-links' %} aria-current="page"{% endif %} href="{% url 'list_editorlinks' %}">{% icon 'link' %} {% translate "Editor links" %}</a>
        <a {% if management_tab == 'stress-tests' %} aria-current="page"{% endif %} href="{% url 'list_stresstests' %}">{% icon 'scale' %} {% translate "Stress tests" %}</a>
        <a {% if management_tab == 'dashboard' %} aria-current="page"{% endif %} href="{% url 'global_dashboard' %}">{% icon 'dashboard' %} {% translate "Dashboard" %}</a>
        <a {% if management_tab == 'lockdown' %} aria-current="page"{% endif %} href="{% url 'lockdown_dashboard' %}">{% icon 'lock' %} {% translate "Lockdown apps" %}</a>
        <a id="admin-link" href="/admin">{% icon 'cog' %} {% translate "Admin site" %}</a>

        <form id="search-form" method="GET" action="{% url 'global_search' %}">
            <input list="search-results" aria-labelledby="search-button" type="search" id="global-search-input" name="query" autocomplete="off" value="{{global_search_query}}">
            <input type="hidden" name="model" value="{{global_search_model}}">
            <button id="search-button" type="submit" class="button default">{% translate "Search" %}</button>
            <datalist id="search-results">
            </datalist>
        </form>
    </nav>

    <header>
        {% if page_helplink %}
            {% helplink page_helplink %}
        {% endif %}

        {% block management_header %}{% endblock management_header %}
    </header>

    <main>
        {% for message in messages %}
        <div class="alert info">
            {{message}}
        </div>
        {%endfor %}

        {% block management_content %}{% endblock %}
    </main>

    {% include "numbas_lti/footer.html" %}
{% endblock content %}

