{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Dashboard" %} - {{block.super}}{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'admin-dashboard.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'bootstrap-autocomplete.js' %}"></script>
    <script src="{% static 'admin-dashboard.js' %}"></script>
{% endblock %}

{% block management_content %}
<h1>{% trans "Dashboard" %}</h1>

<form method="GET" action="{% url 'global_search' %}">
    <label for="search">Search for users, contexts or resources:</label>
    <input type="text" id="search" name="query" autocomplete="off">
    <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
</form>

<h2>{% trans "Today" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Resource" %}</th>
            <th>{% trans "Launches today" %}</th>
            <th>{% trans "Attempts completed today" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for resource in active_resources %}
        <tr>
            <td>
                <a href="{% url 'resource_dashboard' resource.pk %}" target="_blank">{{resource.title|default:"Unnamed resource"}}</a>
                <br>
                <small class="text-muted">{{resource.context.name}}</small>
            </td>
            <td>{{resource.recent_launches}}</td>
            <td>{{resource.recent_completions}}</td>
            <td><a href="{% url 'resource_stats' resource.pk %}" target="_blank"><span class="glyphicon glyphicon-stats"></span> {% trans "Statistics" %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock management_content %}
