{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{% translate "Dashboard" %} - {{block.super}}{% endblock %}

{% block management_content %}
<h1>{% translate "Dashboard" %}</h1>

<h2>{% translate "Today" %}</h2>
{% if active_resources %}
    <table>
        <thead>
            <tr>
                <th scope="col">{% translate "Resource" %}</th>
                <th scope="col">{% translate "Launches today" %}</th>
                <th scope="col">{% translate "Attempts completed today" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in active_resources %}
            <tr>
                <td>
                    <a href="{% url 'resource_dashboard' resource.pk %}" target="_blank">{{resource.title|default:"Unnamed resource"}}</a>
                    <br>
                    <small class="muted">{% for context in resource.lti_contexts.all %}{{context.name}} {% endfor %}</small>
                </td>
                <td>{{resource.recent_launches}}</td>
                <td>{{resource.recent_completions}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>{% translate "No activity so far today!" %}</p>
{% endif %}
{% endblock management_content %}
