{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load static %}

{% block title %}{% if global_search_query %}{% blocktranslate with query=global_search_query %}Searching for "{{query}}" {% endblocktranslate %}{% else %}Global search{% endif %} - {{block.super}}{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'admin-dashboard.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'admin-dashboard.js' %}"></script>
{% endblock %}

{% block management_header %}
    <h1>{% translate "Search" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if global_search_query %}
        <p>
            {% translate "Search for:" %}
            <a href="?{% set_query_values page=0 model="users" %}" class="btn btn-link" {% if global_search_model == 'users' %}aria-current="page"{% endif %}>{% icon 'user' %} {% translate "Users" %} ({{users.count}})</a>
            <a href="?{% set_query_values page=0 model="contexts" %}" class="btn btn-link" {% if global_search_model == 'contexts' %}aria-current="page"{% endif %}>{% icon 'slides' %} {% translate "Contexts" %} ({{contexts.count}})</a>
            <a href="?{% set_query_values page=0 model="resources" %}" class="btn btn-link" {% if global_search_model == 'resources' %}aria-current="page"{% endif %}>{% icon 'book' %} {% translate "Resources" %} ({{resources.count}})</a>
        </p>
        {% if num_results > 0 %}
        <nav class="pager" aria-label="Page navigation">
            {% if has_prev_page %}
                <a class="previous" href="?query={{global_search_query}}&model={{global_search_model}}&page={{page|add:"-1"}}">{% icon 'arrow-left' %} {% translate "Previous page" %}</a>
            {% endif %}

            <span class="current-page">{% blocktranslate with model=single_model models=models start=start end=end count count=num_results %}Showing the only {{model}}.{% plural %}Showing {{models}} {{start}} - {{end}} of {{count}}.{% endblocktranslate %}</span>

            {% if has_next_page %}
                <a class="next" href="?query={{global_search_query}}&model={{global_search_model}}&page={{page|add:"1"}}">{% translate "Next page" %} {% icon 'arrow-right' %}></a>
            {% endif %}
        </nav>

        <table class="table">
            <thead>
                <tr>
                    {% if global_search_model == 'users' %}
                    <th>{% translate "User" %}</th>
                    <th>{% translate "Username" %}</th>
                    <th>{% translate "Email address" %}</th>
                    {% endif %}

                    {% if global_search_model == 'contexts' %}
                    <th>{% translate "Context" %}</th>
                    {% endif %}

                    {% if global_search_model == 'resources' %}
                    <th>{% translate "Resource" %}</th>
                    <th>{% translate "Context" %}</th>
                    {% endif %}
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    {% if global_search_model == 'users' %}
                    <td><a href="{% url 'global_user_info' result.pk %}">{% if result.get_full_name %}{{result.get_full_name}}{% else %}{% translate "Unnamed" %}{% endif %}</a></td>
                    <td>{{result.username}}</td>
                    <td><a href="mailto:{{result.email}}">{{result.email}}</a></td>
                    {% endif %}

                    {% if global_search_model == 'contexts' %}
                    <td><a href="{{result.get_absolute_url}}">{{result.name}}</a></td>
                    {% endif %}

                    {% if global_search_model == 'resources' %}
                    <td><a href="{% url 'resource_dashboard' result.pk %}">{{result.title}} (<em class="text-muted">{{result.exam.title}}</em>)</a></td>
                    <td>{% for context in result.lti_contexts %}{{context.name}}{% endfor %}</td>
                    {% endif %}
                </li>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% blocktranslate with models=models %}There were no {{models}} matching this query.{% endblocktranslate %}</p>
    {% endif %}
{% endif %}
{% endblock management_content %}
