{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{{user.get_full_name}} - {{block.super}}{% endblock %}

{% block body_class %}{{block.super}} user-info{% endblock %}

{% block management_header %}
    <h1>{{user.get_full_name}}</h1>
{% endblock management_header %}

{% block management_content %}
<section>
    <dl>
        <dt>{% translate "Username" %}</dt>
        <dd>{{user.username}}</dd>

        <dt>{% translate "Email address" %}</dt>
        <dd><a href="mailto:{{user.email}}">{{user.email}}</a></dd>

        <dt>{% translate "Consumer" %}</dt>
        <dd>
            {% for consumer in consumers %}
            <a href="{% url 'view_consumer' consumer.pk %}">{{consumer.title}}</a>
            {% endfor %}
        </dd>
    </dl>
</section>

{% if user.attempts.exists %}
<section id="recent-attempts">
    <h2>Recent attempts</h2>
    <table>
        <thead>
            <tr>
                <th>{% translate "Resource" %}</th>
                <th>{% translate "Start time" %}</th>
                <th>{% translate "Review" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for attempt in user.attempts.all|slice:":10" %}
        <tr>
            <td><a href="{% url 'attempt_timeline' attempt.pk %}">{{attempt.resource.title}}</a> - <span class="text-muted">{{attempt.resource.context.name}}</span></td>
            <td>{{attempt.start_time}}</td>
            <td>
                <a class="button link" target="review_attempt" href="{% url 'run_attempt' attempt.pk %}"><span class="text-success">{% icon 'play' %} {% translate "Review" %}</span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

<section>
    <h2>{% translate "Recent launches" %}</h2>
    <h3>{% translate "Attempts" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% translate "Attempt" %}</th>
                <th>{% translate "Launch time" %}</th>
                <th>{% translate "Attempt start time" %}</th>
                <th>{% translate "Mode" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for launch in user.attempt_launches.all|slice:":10" %}
            <tr>
                <td>
                    {% if launch.attempt.deleted %}
                    {{launch.attempt.resource.title}} <em>(deleted)</em>
                    {% else %}
                    <a href="{% url 'attempt_timeline' launch.attempt.pk %}">{{launch.attempt.resource.title}}</a>
                    {% endif %}
                </td>
                <td>{{launch.time}}</td>
                <td>{{launch.attempt.start_time}}</td>
                <td>{{launch.mode}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>{% translate "Resources" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% translate "Resource" %}</th>
                <th>{% translate "Time" %}</th>
                <th>{% translate "IP address" %}</th>
                <th>{% translate "Browser user agent" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for launch in user.lti_launches.all|slice:":10" %}
            <tr>
                <td><a href="{% url 'manage_attempts' launch.resource.pk %}?userid={{user.username}}">{{launch.resource.title}} ({{launch.resource.lti_contexts.first.name}})</a></td>
                <td>{{launch.time}}</td>
                <td>{{launch.ip_address}}</td>
                <td class="monospace">{{launch.user_agent}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock management_content %}
