{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block management_content %}
<div class="container">
    <header>
    <h1>{% trans "Manage a consumer" %}</h1>
    </header>

    <dl>
        <dt>Key</dt>
        <dd><code>{{consumer.key}}</code></dd>
        <dt>Secret</dt>
        <dd><code>{{consumer.secret}}</code></dd>
    </dl>

    <main>
        <h2>{% trans "Resources" %}</h2>
        {% for context in named_contexts|dictsort:"label" %}
            {% include "numbas_lti/management/admin/view_consumer_context.html" %}
        {% endfor %}
        {% for context in unnamed_contexts %}
            {% include "numbas_lti/management/admin/view_consumer_context.html" %}
        {% endfor %}
    </main>
</div>
{% endblock management_content %}
