{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block management_content %}
<div class="container">
    <header>
        <h1 id="context-{{context.pk}}">{{context.name|default:"Unnamed course"}} {% if context.label and context.label != context.name %}({{context.label}}){% endif %}</h1>
        <p>A context in <a href="{% url 'view_consumer' context.consumer.pk %}"><code>{{context.consumer.key}}</code></a></p>
    </header>

    {% if context.resources.exists %}
    <table class="table">
        {% for resource in context.resources.all %}
        <tr class="resource{% if resource.is_old %} old{% endif %}{% if resource.is_new %} new warning{% endif %}">
            <td>
                <a href="{% url 'dashboard' resource.pk %}" target="_blank">{{resource.title|default:"Unnamed resource"}} {% if resource.exam.title and resource.title != resource.exam.title %}<small class="text-muted">({{resource.exam.title}})</small>{% endif %}</a>
            </td>
            <td>{% trans "Created" %} {{resource.creation_time}}</td>
            <td>
                {% blocktrans count num_attempts=resource.attempts.count %}
                1 attempt.
                {% plural %}
                {{num_attempts}} attempts.
                {% endblocktrans %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock management_content %}
