{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block management_content %}
<div class="container">
    <header>
    <h1>{% trans "Manage a consumer" %}</h1>
    </header>

    <dl>
        <dt>{% trans "Key" %}</dt>
        <dd><code>{{consumer.key}}</code></dd>
        <dt>{% trans "Secret" %}</dt>
        <dd><code>{{consumer.secret}}</code></dd>
    </dl>

    <main>
        <h2>{% trans "Resources" %}</h2>
        {% regroup named_contexts by name|first|upper as context_groups %}
        <ul class="list-inline">
            {% for letter in context_groups %}
            <li><a href="#context-letter-{{letter.grouper}}">{{letter.grouper}}</a></li>
            {% endfor %}
        </ul>
        {% for letter in context_groups %}
        <a id="context-letter-{{letter.grouper}}"></a>
        <ul>
        {% for context in letter.list %}
            <li><a href="#context-{{context.pk}}">{{context.name}} ({{context.label}})</a></li>
        {% endfor %}
        </ul>
        {% endfor %}
        {% for context in named_contexts %}
            {% include "numbas_lti/management/admin/view_consumer_context.html" %}
        {% endfor %}
        {% for context in unnamed_contexts %}
            {% include "numbas_lti/management/admin/view_consumer_context.html" %}
        {% endfor %}
    </main>
</div>
{% endblock management_content %}
