{% extends "numbas_lti/lti_13/base.html" %}
{% load i18n %}

{% block main %}


<p>{% blocktranslate %}The method for connecting to Numbas LTI depends on the platform you are using.{% endblocktranslate %}</p>

<p>{% blocktranslate %}The Numbas LTI service is provided as-is and without warranty or minimum service level.{% endblocktranslate %}</p>

<nav>
    <h2>{% translate "Table of contents" %}</h2>
    <ul>
        <li><a href="#moodle">Moodle</a></li>
        <li><a href="#blackboard">Blackboard</a></li>
        <li><a href="#canvas">Canvas</a></li>
        <li><a href="#other-platforms">{% translate "Other platforms" %}</a></li>
    </ul>
</nav>

<article id="moodle">
    <h2>Moodle</h2>
    <p>
    <p>{% translate "Use this URL to register your platform with this tool, using LTI Dynamic Registration:" %}</p>
    <code>{{register_url}}</code>
</article>

<hr>

<article id="canvas">
    <h2>Canvas</h2>

    <p>{% blocktranslate %}Follow <a href="https://community.canvaslms.com/t5/Admin-Guide/How-do-I-configure-an-LTI-key-for-an-account/ta-p/140">the Canvas instructions to create an LTI developer key</a>, with the following parameters:{% endblocktranslate %}</p>

    <dl>
        <dt>{% translate "Key Name" %}</dt>
        <dd>Numbas</dd>

        <dt>{% translate "Owner Email" %}</dt>
        <dd><code>{{email_address}}</code></dd>

        <dt>{% translate "Redirect URIs" %}</dt>
        <dd><code>{{launch_url}}</code></dd>
    </dl>

    <p>{% blocktranslate %}Then for <strong>Method</strong> select <em>Enter URL</em> and enter this URL:{% endblocktranslate %}</p>
    <pre>{{canvas_config_url}}</pre>

    <p>{% blocktranslate %}Click <strong>Save</strong>, and copy the key that Canvas has generated: this is your <em>Client ID</em>.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Next, you must enable the app for your account, following <a href="https://community.canvaslms.com/t5/Admin-Guide/How-do-I-configure-an-external-app-for-an-account-using-a-client/ta-p/202">the Canvas instructions on configuring an LTI key for an account</a>.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Enter the client ID that you got after creating the developer key, and install the app. Then, click on the settings icon for the app and get the <strong>Deployment ID</strong>.{% endblocktranslate %}</p>

    <p><strong>TODO: put a form here to record the client ID and deployment ID.</strong></p>
    <p>{% blocktranslate with email_address=email_address %}<a href="mailto:{{email_address}}?subject=Register%20Numbas%20LTI">Send the client ID and deployment ID to us</a>. Once we've registered them, you will be able to access Numbas through Canvas.{% endblocktranslate %}</p>
</article>

<hr>

<article id="blackboard">
    <h2>Blackboard</h2>

    <p><strong>TODO: instructions about registering with Anthology</strong></p>

    <p>Blackboard expects most LTI tools to run on a single domain, which serves every institution using it.</p>

    <p>Because each institution runs their own instance of the Numbas LTI tool, each instance must be registered separately with Anthology.</p>

    <p><a href="https://docs.anthology.com/docs/lti/getting-started-with-lti#registering-your-application">{% blocktranslate %}Register this server as an application with Anthology{% endblocktranslate %}</a>.</p>

    <p>{% blocktranslate %}Use <strong>Dynamic Registration</strong> with this URL to initiate tool registration:{% endblocktranslate %}</p>

    <pre>{{register_url}}</pre>

    <p>{% blocktranslate %}Record the <em>Application ID</em> and the <em>Application Key</em> that were created.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Follow <a href="https://help.blackboard.com/Learn/Administrator/SaaS/Integrations/Learning_Tools_Interoperability#add_lti13">the Blackboard instructions for adding an LTI 1.3 tool</a>.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}For the <strong>Client ID</strong>, use the <strong>Application ID</strong> that you were given when registering the application.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}The tool needs access to the <strong>Membership Service</strong>.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Once you have added the app, follow <a href="https://help.blackboard.com/Learn/Administrator/SaaS/Integrations/Learning_Tools_Interoperability#create_placements">the instructions to create a placement</a>.{% endblocktranslate %}</p>
    
    <p>{% blocktranslate %}For <strong>Type</strong>, select <em>Deep Linking content tool</em>.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Use the following icon image:{% endblocktranslate %}</p>

    <p><img src="{{icon_url}}" alt="{% translate "Numbas icon" %}"></p>

    <p>TODO - a form to add the deployment ID.</p>
</article>

<hr>

<article id="other-platforms">
    <h2>{% translate "Other platforms" %}</h2>

    <h3>{% translate "Dynamic registration" %}</h3>
    <p>{% translate "Use this URL to register your platform with this tool, using LTI Dynamic Registration:" %}</p>
    <code>{{register_url}}</code>

    <h3>{% translate "Manual registration" %}</h3>

    <p>{% translate "Use the following details:" %}</p>

    <dl>
        <dt>{% translate "Tool URL" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Public keyset URL" %}</dt>
        <dd><code>{{jwks_url}}</code></dd>

        <dt>{% translate "Login URL" %}</dt>
        <dd><code>{{login_url}}</code></dd>

        <dt>{% translate "Redirection URIs" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Content selection URL" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Icon URL" %}</dt>
        <dd><code>{{icon_url}}</code></dd>
    </dl>
</article>
{% endblock main %}
