{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}

{% block title %}{% translate "Register an LTI 1.3 platform" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Register an LTI 1.3 platform" %}</h1>
{% endblock %}

{% block management_content %}

<p>{% blocktranslate %}The method for connecting to the Numbas LTI provider depends on the platform you are using.{% endblocktranslate %}</p>

<nav>
    <h2>{% translate "Select your platform" %}</h2>
    <ul>
        <li><a href="{% url 'lti_13:new_dynamic_registration_token' %}?platform=Moodle">Moodle</a></li>
        <li><a href="{% url 'lti_13:register_blackboard' %}">Blackboard</a></li>
        <li><a href="{% url 'lti_13:register_canvas' %}">Canvas</a></li>
        <li><a href="{% url 'lti_13:register_generic' %}">{% translate "Other platforms" %}</a></li>
    </ul>
</nav>
{% endblock management_content %}
