{% extends "numbas_lti/lti_13/base.html" %}
{% load i18n %}

{% block title %}{% translate "Register an LTI 1.3 platform" %}{% endblock %}

{% block main %}

<p>{% blocktranslate %}The method for connecting to the Numbas LTI provider depends on the platform you are using.{% endblocktranslate %}</p>

<nav>
    <h2>{% translate "Select your platform" %}</h2>
    <ul>
        <li><a href="#moodle">Moodle</a></li>
        <li><a href="{% url 'lti_13:register_blackboard' %}">Blackboard</a></li>
        <li><a href="{% url 'lti_13:register_canvas' %}">Canvas</a></li>
        <li><a href="#other-platforms">{% translate "Other platforms" %}</a></li>
    </ul>
</nav>

<article id="moodle">
    <h2>Moodle</h2>
    <p><a href="{% url 'lti_13:new_dynamic_registration_token' %}">{% translate "Create a dynamic registration token" %}</a>.</p>
</article>

<hr>

<article id="blackboard">

<hr>

<article id="other-platforms">
    <h2>{% translate "Other platforms" %}</h2>

    <h3>{% translate "Dynamic registration" %}</h3>
    <p>{% blocktranslate %}If your platform supports it, dynamic registration is the easiest.{% endblocktranslate %}</p>
    <p><a href="{% url 'lti_13:new_dynamic_registration_token' %}">{% translate "Create a dynamic registration token" %}</a>.</p>

    <h3>{% translate "Manual registration" %}</h3>

    <p>{% translate "Use the following details:" %}</p>

    <dl>
        <dt>{% translate "Tool URL" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Public keyset URL" %}</dt>
        <dd><code>{{jwks_url}}</code></dd>

        <dt>{% translate "Login URL" %}</dt>
        <dd><code>{{login_url}}</code></dd>

        <dt>{% translate "Redirection URIs" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Content selection URL" %}</dt>
        <dd><code>{{launch_url}}</code></dd>

        <dt>{% translate "Icon URL" %}</dt>
        <dd><code>{{icon_url}}</code></dd>
    </dl>
</article>
{% endblock main %}
