{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Connect to Canvas" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <p><a class="button link" href="{% url 'lti_13:register' %}">← {% translate "Back" %}</a></p>

    <h1>{% translate "Connect to Canvas" %}</h1>
{% endblock %}

{% block management_content %}

<p>{% blocktranslate %}Follow <a href="https://community.canvaslms.com/t5/Admin-Guide/How-do-I-configure-an-LTI-key-for-an-account/ta-p/140">the Canvas instructions to create an LTI developer key</a>, with the following parameters:{% endblocktranslate %}</p>

<dl>
    <dt>{% translate "Key Name" %}</dt>
    <dd>Numbas</dd>

    <dt>{% translate "Owner Email" %}</dt>
    <dd><code>{{email_address}}</code></dd>

    <dt>{% translate "Redirect URIs" %}</dt>
    <dd><code>{{launch_url}}</code></dd>
</dl>

<p>{% blocktranslate %}Then for <strong>Method</strong> select <em>Enter URL</em> and enter this URL:{% endblocktranslate %}</p>
<pre>{{canvas_config_url}}</pre>

<p>{% blocktranslate %}Click <em>Save</em>, and copy the key that Canvas has generated: this is your <strong>Client ID</strong>.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Next, you must enable the app for your account, following <a href="https://community.canvaslms.com/t5/Admin-Guide/How-do-I-configure-an-external-app-for-an-account-using-a-client/ta-p/202">the Canvas instructions on configuring an LTI key for an account</a>.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Enter the client ID that you got after creating the developer key, and install the app. Then, click on the settings icon for the app and get the <strong>Deployment ID</strong>.{% endblocktranslate %}</p>

<form id="canvas-form" class="big" method="POST">
    {% csrf_token %}
    {{form}}

    <p><button type="submit" class="primary">{% translate "Register" %}</button></p>
</form>

{% endblock management_content %}

{% block javascripts %}
    {{block.super}}
    {{canvas_presets|json_script:"canvas-presets-json"}}
    <script src="{% static 'canvas_registration.js' %}" defer ></script>
{% endblock javascripts %}
