{% extends "numbas_lti/lti_13/base.html" %}
{% load i18n %}

{% block body_class %}login{% endblock %}

{% block title %}{% translate "Consumer registration token" %} - {{block.super}}{% endblock %}

{% block main %}

    <h1>{% blocktranslate %}Consumer registration token{% endblocktranslate %}</h1>

    <p>{% blocktranslate with name=token.name %}This token is intended to be used for <em>{{name}}</em>{% endblocktranslate %}.</p>

    <p>{% blocktranslate %}Use the following URL to register your platform with this LTI 1.3 tool:{% endblocktranslate %}</p>
    
    <pre>{{registration_url}}</pre>
{% endblock main %}
