{% extends "ncl_data_science/base.html" %}
{% load static %}
{% load querystring %}
{% load ncl_data_science %}

{% block body_class %}case-studies {{block.super}}{% endblock %}

{% block data_science_header %}
{{block.super}} - Case Studies
{% endblock %}

{% block data_science_content %}
    <p>Case studies give you a chance to try out some of the mathematics required in a Data Science degree, within some interesting contexts.</p>

    <h2>Pick a case study:</h2>
    <menu id="case-studies" class="card-list">
    {% for case_study, progress in case_studies %}
    <li class="case-study card {{progress.completion_status|completion_class}}" data-completion-status="{{progress.completion_status}}">
        {% if case_study.resource %}
        <a href="{% url_with_lti 'show_attempts' case_study.resource.pk %}">
        {% endif %}
            <img alt="" src="{{case_study.image.url}}">
        {% if case_study.resource %}
        </a>
        {% endif %}
        <h3>
        {% if case_study.resource %}
            <a href="{% url_with_lti 'show_attempts' case_study.resource.pk %}">
        {% endif %}
            {{case_study.name}}
        {% if case_study.resource %}
            </a>
        {% endif %}
        </h3>
        <p>{{case_study.description}}</p>
        <dl>
            <dt>Completion</dt>
            <dd>{{progress.completion_status|completion_text}}</dd>
            <dt>Difficulty</dt>
            <dd>{% star_rating case_study.difficulty %}</dd>
            <dt>Topics</dt>
            <dd>
                <ul class="list-inline list-unstyled topics">
                    {% for topic in case_study.main_topics %}
                    <li class="pill">{{topic.name}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% if case_study.extension_topics %}
            <dt>Extension topics</dt>
            <dd>
                <ul class="list-inline list-unstyled topics">
                    {% for topic in case_study.extension_topics %}
                    <li class="pill">{{topic.name}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </dl>
    </li>
    {% endfor %}
    </menu>

{% endblock data_science_content %}
