{% extends "ncl_data_science/base.html" %}
{% load static %}
{% load querystring %}
{% load ncl_data_science %}

{% block body_class %}case-studies {{block.super}}{% endblock %}

{% block data_science_header %}
{{block.super}} - Case Studies
{% endblock %}

{% block data_science_content %}
    <p>Case studies give you a chance to try out some of the mathematics required in a Data Science degree, within some interesting contexts.</p>

    <h2>Pick a case study:</h2>
    <menu id="case-studies" class="card-list">
    {% for case_study in case_studies %}
    <li class="case-study card {{case_study.completion_status|completion_class}}" data-completion-status="{{case_study.completion_status}}">
        <a href="{% url_with_lti 'show_attempts' case_study.resource.pk %}">
            <img alt="" src="{% get_media_prefix %}ncl_data_science/case_studies/{{case_study.id}}.webp">
        </a>
        <h3>
            <a href="{% url_with_lti 'show_attempts' case_study.resource.pk %}">
            {{case_study.name}}
            </a>
        </h3>
        <p>{{case_study.description}}</p>
        <dl>
            <dt>Completion</dt>
            <dd>{{case_study.completion_status|completion_text}}</dd>
            <dt>Difficulty</dt>
            <dd>{% star_rating case_study.difficulty %}</dd>
            <dt>Topics</dt>
            <dd>
                <ul class="list-inline list-unstyled topics">
                    {% for topic in case_study.topics %}
                    <li class="pill">{{topic}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% if case_study.extension_topics %}
            <dt>Extension topics</dt>
            <dd>
                <ul class="list-inline list-unstyled topics">
                    {% for topic in case_study.extension_topics %}
                    <li class="pill">{{topic}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </dl>
    </li>
    {% endfor %}
    </menu>

{% endblock data_science_content %}
