{% extends "ncl_data_science/base.html" %}
{% load static %}
{% load querystring %}
{% load ncl_data_science %}

{% block body_class %}questions-by-topic {{block.super}}{% endblock %}

{% block data_science_header %}
{{block.super}} - {{topic.name}} Topics
{% endblock %}

{% block data_science_content %}
    <p>{{topic.description}}</p>

    <h2>Pick a topic:</h2>
    <menu id="subtopics" class="list-unstyled">
    {% for subtopic, progress in subtopics %}
    <li class="subtopic card {{progress.completion_status|completion_class}}" data-completion-status="{{progress.completion_status}}">
        {% if subtopic.resource %}
        <a href="{% url_with_lti 'show_attempts' subtopic.resource.pk %}">
        {% endif %}
            {{subtopic.name}}
        {% if subtopic.resource %}
        </a>
        {% endif %}
        <small class="progress">{{progress.completion_status|completion_text}}</small>
    </li>
    {% endfor %}
    </menu>

    <a class="button" href="{% url_with_lti 'ncl_data_science:topics' %}">← Pick another topic</a>

{% endblock data_science_content %}
