{% extends "numbas_lti/management/attempt_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'attempt_scorm_listing.css' %}">
{%endblock stylesheets %}

{% block attempt_content %}
<div class="search">
    <label>{% trans "Search for an element:" %} <input class="form-control" id="query" type="text" data-bind="textInput: query"></label>
    <button class="btn btn-default quick-query" data-query="learner_response|correct_responses">{% trans "Answers" %}</button>
    <button class="btn btn-default quick-query" data-query="(result|weighting)$">{% trans "Part scores" %}</button>
    <button class="btn btn-default quick-query" data-query="score.(raw|max)">{% trans "Question scores" %}</button>
</div>
<div>
    <label><input type="checkbox" data-bind="checked: most_recent_only"> Most recent value only</label>
</div>

<table class="table" id="elements">
    <colgroup>
        <col>
        <col style="width:10em;">
        <col style="width:10em;">
    </colgroup>
    <thead>
        <tr>
            <th>Key</th>
            <th>Time</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody id="initial-data">
        {% for key,elements in keys %}
        {% for element in elements %}
            {% if forloop.counter0 == 0 or show_stale_elements %}
            <tr data-key="{{key}}">
                <td class="key">{% if forloop.counter0 == 0 %}{{key}}{% endif %}</td>
                <td class="time">{{element.time|date:"Y-m-d H:i:s"}}</td>
                <td class="value">{{element.value}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
    <tbody id="dynamic-data" data-bind="foreach: show_elements">
        <!-- ko foreach: elements -->
        <tr data-bind="css: {first: $index()==0}">
            <td class="key" data-bind="text: key"></td>
            <td class="time" data-bind="text: time"></td>
            <td class="value" data-bind="text: value"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

<script type="text/javascript" src="{% static 'knockout/knockout.js' %}"></script>
<script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>
<script>
    var listener_url = '/websocket/attempt/{{attempt.pk}}/scorm_listing';
</script>
<script src="{% static 'attempt_scorm_listing.js' %}"></script>
{% endblock attempt_content %}
