{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load querystring %}
{% load static %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "attempts.css" %}">
{% endblock %}

{% block management_header %}
    <h1>{% translate "Attempts" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if resource.attempts.count %}

        <p><form method="POST" action="{% url_with_lti 'attempts_csv' resource.pk %}">{% csrf_token %}<button type="submit" class="button info">{% icon 'save' %} {% translate "Download attempts summary as CSV" %}</button></form></p>
        <p><form method="POST" action="{% url_with_lti 'resource_json_dump' resource.pk %}">{% csrf_token %}<button type="submit" class="button info">{% icon 'save' %} {% translate "Download all attempt data as JSON" %}</button></form></p>

        <form method="GET" class="form-inline">
            <input type="hidden" value="{{request.GET.resource_link_id}}" name="resource_link_id">
            {% csrf_token %}
            <label for="query">
                {% translate "Search for a student:" %} 
            </label>
            <input type="hidden" name="userid" value="">
            <input type="search" id="query" name="query" class="form-control" value="{{query}}">
            {% if query %}
            <a class="button default input-group-addon" href="?{% set_query_values page=1 query="" userid="" %}">{% icon 'trash' %}<span class="sr-only">{% translate "Clear query" %}</span></a>
            {% endif %}
            <button class="button primary" type="submit">{% icon 'search' %}{% translate "Search" %}</button>
        </form>

        {% if page_obj.has_other_pages %}
            <nav class="pager" aria-label="Page navigation">
                {% if page_obj.has_previous %}
                <a class="previous button" href="?{% set_query_values page=page_obj.previous_page_number %}" aria-label="{% translate "Previous page" %}">{% icon 'arrow-left' %} {% translate "Later" %}</a>
                {% endif %}
                <span class="current-page">{% blocktranslate with start=page_obj.start_index end=page_obj.end_index count count=paginator.count %}Showing the only attempt{% plural %}Showing attempts {{start}} - {{end}} of {{count}}{% endblocktranslate %}</span>
                {% if page_obj.has_next %}
                <a class="next button" href="?{% set_query_values page=page_obj.next_page_number %}" aria-label="{% translate "Next page" %}">{% translate "Earlier" %} {% icon 'arrow-right' %}</a>
                {% endif %}
            </nav>
        {% endif %}

        {% with identifier_field=resource.context.consumer.identifier_field %}
        <div class="scrolling-table">
            <table id="attempts" class="table-striped">
                <thead>
                    <tr>
                        <th>{% translate "Student" %}</th>
                        {% if identifier_field %}
                        <th>{{resource.context.consumer.get_identifier_field_display}}</th>
                        {% endif %}
                        <th>{% translate "Start time" %}</th>
                        <th aria-label="{% translate "Controls" %}"></th>
                        <th>{% translate "Completion status" %}</th>
                        <th colspan="2">{% translate "Score" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attempt in attempts %}
                    <tr data-student="{{attempt.user.get_full_name}}">
                        <td>
                            <a href="?{% set_query_values page=1 userid=attempt.user.pk %}">
                                {{attempt.user.get_full_name}}
                            </a>
                        </td>
                        {% if identifier_field %}
                        <td class="identifier">{{attempt.user_data.identifier}}</td>
                        {% endif %}
                        <td>{{attempt.start_time}}</td>
                        <td>
                            <a class="button link" target="review_attempt" href="{% url_with_lti 'run_attempt' attempt.pk %}"><span class="success">{% icon 'play' %} {% translate "Review" %}</span></a>{% if attempt.exam != resource.exam %} {% translate "(old exam)" %}{% endif %}
                            <a class="button link" href="{% url_with_lti 'remark_parts' attempt.pk %}"><span class="warning">{% icon 'pencil' %} {% translate "Change score" %}</span></a>
                            <a class="button link" href="{% url_with_lti 'attempt_timeline' attempt.pk %}"><span class="info">{% icon 'list' %} {% translate "Data" %}</span></a>
                            <a class="button link" href="{% url_with_lti 'delete_attempt' attempt.pk %}"><span class="danger">{% icon 'trash' %} {% translate "Delete" %}</span></a>
                        </td>
                        <td>
                            {% if attempt.broken %}
                                <span class="danger">{% translate "Broken" %}</span>
                            {% else %}
                                <span class="{% if attempt.completed %}success{% endif %}">{{attempt.get_completion_status_display}}</span>
                                {% if attempt.completed %}<a class="button link" href="{% url_with_lti 'reopen_attempt' attempt.pk %}"><span class="warning">{% icon 'eye-open' %} {% translate "Reopen" %}</span></a>{% endif %}
                            {% endif %}
                        </td>
                        <td class="attempt-score">
                            {{attempt.raw_score}} / {{attempt.max_score}} ({{attempt.scaled_score|percentage}}) {% if attempt.is_remarked %}{% translate "(remarked)" %}{% endif %}
                        </td>
                        <td>
                            <ul class="score-info">
                                {% for aqs in attempt.question_scores %}
                                {% if aqs.max_score %}
                                <li class="question {{aqs.completion_status|slugify}} scaled_score_{{aqs.scaled_score|percentage_bin}}" style="flex-grow: {{aqs.max_score}}; height: {{aqs.scaled_score|percentage:"10"}}" title="{% blocktranslate with number=aqs.number|add:"1" %}Question {{number}}:{% endblocktranslate %} {% if aqs.completion_status == 'not attempted' %}{% translate "not attempted" %}{% else %}{{aqs.raw_score}} / {{aqs.max_score}}{% endif %}"></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endwith %}

    {% else %}

        <p>{% translate "No students have attempted this exam yet. Information about students' attempts will appear here once a student has attempted this exam." %}</p>

    {% endif %}
{% endblock management_content %}
