{% extends "numbas_lti/management/attempt_base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load static %}
{% load statici18n %}

{% block title %}{% blocktranslate with name=attempt.user.get_full_name %}Attempt by {{name}}{% endblocktranslate %} - {{block.super}}{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'attempt_timeline.css' %}">
{%endblock stylesheets %}

{% block attempt_content %}
    <div class="alert info" id="loading">
        <p>{% translate "Loading attempt data..." %}</p>
    </div>
    <div id="loaded">
        <p><a class="button link" target="review_attempt" href="{% url_with_lti 'run_attempt' attempt.pk %}"><span class="text-success">{% icon 'play' %} {% translate "Review this attempt" %}</span></a></p>

        <p><a class="button link" href="{% url_with_lti 'attempt_scorm_listing' attempt.pk %}">{% icon 'list' %} {% translate "View raw SCORM data for this attempt" %}</a></p>

        <p><a class="button primary" href="{% url_with_lti 'attempt_json_dump' attempt.pk %}">{% icon 'save' %} {% translate "Download attempt data in JSON format" %}</a></p>

        <table class="table" id="timeline" data-bind="if: grouped_timeline().length">
            <colgroup>
                <col style="width: 12em;"/>
                <col style="width: 2em;"/>
                <col/>
                <col style="width: 5em;"/>
                <col style="width: 5em;"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% translate "Time" %}</th>
                    <th></th>
                    <th>{% translate "Action" %}</th>
                    <th>{% translate "Total Score" %}</th>
                    <th>{% translate "Scaled Score" %}</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: {data: grouped_timeline, afterAdd: scrollIntoView} -->
                    <!-- ko foreach: items -->
                    <tr class="item" data-bind="css: css">
                        <td class="time" data-bind="visible: $index()==0, attr: {rowspan: $parent.items.length}">
                            <p>
                                <!-- ko if: $parent.seen_location -->
                                <a title="View the attempt at this point in time" target="review_attempt" data-bind="attr: {href: $data.review_url}, text: time_string"></a>
                                <!-- /ko -->
                                <!-- ko if: !$parent.seen_location -->
                                <span data-bind="text: time_string"></span>
                                <!-- /ko -->
                            </p>
                            <!-- ko if: $parent.remarked_by -->
                            <p class="remarked-by small">
                                {% translate "Re-marked by" %}
                                <span data-bind="text: $parent.remarked_by"></span>
                            </p>
                            <!-- /ko -->
                        </td>
                        <td class="icon"><strong class="icon" data-bind="text: icon"></strong><!-- TODO replace with the real icon code --></td>
                        <td class="message"><span data-bind="html: message"></span></td>
                        <td class="exam-score raw" data-bind="visible: $index()==0, css: {changed: $parent.exam_score_changed}, attr: {rowspan: $parent.items.length}">
                            <!-- ko if: $parent.exam_score_changed -->
                            <span data-bind="text: $parent.exam_raw_score"></span> / <span data-bind="text: $parent.exam_max_score"></span>
                            <!-- /ko -->
                        </td>
                        <td class="exam-score scaled" data-bind="visible: $index()==0, css: {changed: $parent.exam_score_changed}, attr: {rowspan: $parent.items.length}">
                            <!-- ko if: $parent.exam_score_changed -->
                            <span data-bind="text: $parent.exam_scaled_score"></span>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
        <!-- ko if: !grouped_timeline().length -->
        <div class="alert warning">
            <p>{% translate "There's no data for this attempt." %}</p>
        </div>
        <!-- /ko -->
    </div>
{% endblock attempt_content %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'knockout/knockout.js' %}"></script>

    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% statici18n LANGUAGE_CODE %}"></script>

    {% include "numbas_lti/scripts/luxon.html" %}

    <script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>

    {{elements|json_script:"scorm-elements"}}
    {{remarked_elements|json_script:"remarked-elements"}}
    {{launches|json_script:"launches"}}
    {{metadata|json_script:"metadata"}}

    <script>
        var listener_url = '/websocket/attempt/{{attempt.pk}}/scorm_listing';
    </script>

    <script src="{% static 'attempt_timeline.js' %}"></script>
{% endblock javascripts %}
