{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load time_tag %}

{% block management_header %}
<p><a href="{% url_with_lti 'manage_attempts' attempt.resource.pk %}">{% icon "arrow-left" %} {% translate "Back to attempts listing" %}</a></p>

    <h1>
        {% blocktranslate with name=attempt.user.get_full_name %}Attempt by {{name}}{% endblocktranslate %}
    </h1>

    <dl id="time-info">
        <dt>{% translate "Started" %}</dt>
        <dd>{% time_tag attempt.start_time %}</dd>

        <dt>{% translate "Ended" %}</dt>
        <dd>{% time_tag attempt.end_time %}</dd>
    </dl>
{% endblock management_header %}


{% block management_content %}
    {% block attempt_content %}{% endblock attempt_content %}
{% endblock management_content %}
