{% extends "numbas_lti/management/attempt_base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load static %}

{% block title %}{% blocktranslate with name=attempt.user.get_full_name %}Attempt by {{name}}{% endblocktranslate %} - {{block.super}}{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'attempt_scorm_listing.css' %}">
{%endblock stylesheets %}

{% block attempt_content %}
    <p><a class="button link" target="review_attempt" href="{% url_with_lti 'run_attempt' attempt.pk %}"><span class="text-success">{% icon 'play' %} {% translate "Review this attempt" %}</span></a></p>

    <p><a class="button link" href="{% url_with_lti 'attempt_timeline' attempt.pk %}">{% icon 'list' %} {% translate "View activity timeline for this attempt" %}</a></p>

    <p><a class="button primary" href="{% url_with_lti 'attempt_json_dump' attempt.pk %}">{% icon 'save' %} {% translate "Download attempt data in JSON format" %}</a></p>

    <div id="app">
        <div class="search">
            <label for="query">{% translate "Search for an element:" %}</label> <input id="query" type="text" v-model="query">
            <button class="button default quick-query" @click="set_query('learner_response|correct_responses')">{% translate "Answers" %}</button>
            <button class="button default quick-query" @click="set_query('(result|weighting)$')">{% translate "Part scores" %}</button>
            <button class="button default quick-query" @click="set_query('score.(raw|max)')">{% translate "Question scores" %}</button>
        </div>
        <div>
            <label><input type="checkbox" :checked="most_recent_only"> {% translate "Most recent value only" %}</label>
        </div>

        <table id="elements">
            <colgroup>
                <col style="width:30em;">
                <col style="width:10em;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">{% translate "Key" %}</th>
                    <th scope="col">{% translate "Time" %}</th>
                    <th scope="col">{% translate "Value" %}</th>
                </tr>
            </thead>
            <tbody id="dynamic-data">
                <template v-for="group in show_elements">
                    <tr v-for="(element, index) in group.elements">
                        <td class="key" v-if="index == 0" :rowspan="group.elements.length"><code>[[element.key]]</code></td>
                        <td class="time"><time :datetime="element.time.toISO()">[[element.time_string]]</time></td>
                        <td class="value"><code>[[element.value]]</code></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
{% endblock attempt_content %}

{% block javascripts %}
    {% include "numbas_lti/scripts/luxon.html" %}

    <script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>

    {{elements|json_script:"scorm-elements"}}

    <script>
        var listener_url = '/websocket/attempt/{{attempt.pk}}/scorm_listing';
    </script>

    <script src="{% static 'attempt_scorm_listing.js' %}" type="module"></script>
{% endblock javascripts %}
