{% extends "numbas_lti/management/attempt_base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load static %}
{% load statici18n %}

{% block title %}{% blocktranslate with name=attempt.user.get_full_name %}Attempt by {{name}}{% endblocktranslate %} - {{block.super}}{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'attempt_timeline.css' %}">
{%endblock stylesheets %}

{% block attempt_content %}
    <p><a class="button link" target="review_attempt" href="{% url_with_lti 'run_attempt' attempt.pk %}"><span class="text-success">{% icon 'play' %} {% translate "Review this attempt" %}</span></a></p>

    <p><a class="button link" href="{% url_with_lti 'attempt_scorm_listing' attempt.pk %}">{% icon 'list' %} {% translate "View raw SCORM data for this attempt" %}</a></p>

    <p><a class="button primary" href="{% url_with_lti 'attempt_json_dump' attempt.pk %}">{% icon 'save' %} {% translate "Download attempt data in JSON format" %}</a></p>

    <div class="alert info" id="loading">
        <p>{% translate "Loading attempt data..." %}</p>
    </div>
    <div id="app">
        <table id="timeline" v-if="grouped_timeline.length">
            <colgroup>
                <col style="width: 12em;"/>
                <col style="width: 2em;"/>
                <col/>
                <col style="width: 5em;"/>
                <col style="width: 5em;"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">{% translate "Time" %}</th>
                    <th scope="col"></th>
                    <th scope="col">{% translate "Action" %}</th>
                    <th scope="col">{% translate "Total Score" %}</th>
                    <th scope="col">{% translate "Scaled Score" %}</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="group in grouped_timeline">
                    <tr class="item" v-for="(item, index) in group.items" :class="item.css">
                        <td class="time" :rowspan="group.items.length" v-if="index == 0">
                            <p>
                            <a v-if="group.seen_location" title="{% translate "View the attempt at this point in time" %}" target="review_attempt" :href="item.review_url"><time :datetime="item.time_iso">[[item.time_string]]</time></a>
                            <span v-else><time :datetime="item.time_iso">[[item.time_string]]</time></span>
                            </p>
                            <p v-if="group.remarked_by" class="remarked-by small">
                                {% translate "Re-marked by" %}
                                <span>[[group.remarked_by]]</span>
                            </p>
                        </td>
                        <td class="icon-cell"><vue-icon :name="item.icon" /><strong class="icon">[[item.icon]]</strong><!-- TODO replace with the real icon code --></td>
                        <td class="message"><span v-html="item.message"></span></td>
                        <td class="exam-score raw" v-if="index == 0" :class="{changed: group.exam_score_changed}" :rowspan="group.items.length">
                            <span v-if="group.exam_score_changed">[[group.exam_raw_score]] / [[group.exam_max_score]]</span>
                        </td>
                        <td class="exam-score scaled" v-if="index == 0" :class="{changed: group.exam_score_changed}" :rowspan="group.items.length">
                            <span v-if="group.exam_score_changed">[[group.exam_scaled_score]]</span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div v-if="!grouped_timeline.length" class="alert warning">
            <p>{% translate "There's no data for this attempt." %}</p>
        </div>
    </div>
{% endblock attempt_content %}

{% block javascripts %}
    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% statici18n LANGUAGE_CODE %}"></script>

    {% include "numbas_lti/scripts/luxon.html" %}

    <script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>

    {{elements|json_script:"scorm-elements"}}
    {{remarked_elements|json_script:"remarked-elements"}}
    {{launches|json_script:"launches"}}
    {{metadata|json_script:"metadata"}}

    <script>
        var listener_url = '/websocket/attempt/{{attempt.pk}}/scorm_listing';
    </script>

    {% include "numbas_lti/icon_vue.html" %}

    <script src="{% static 'attempt_timeline.js' %}" type="module"></script>
{% endblock javascripts %}
