{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load querystring %}

{% block management_header %}
<p><a href="{% url_with_lti 'manage_attempts' attempt.resource.pk %}">{% trans "Back to attempts listing" %}</a></p>

    <h2>
        {% blocktrans with name=attempt.user.get_full_name %}Attempt by {{name}}{% endblocktrans %}
    </h2>
    <h3>
        <small>{% blocktrans with time=attempt.start_time %}Started {{time}}{% endblocktrans %}</small>
    </h3>
{% endblock management_header %}

{% block management_content %}

    {% block attempt_content %}{% endblock attempt_content %}

{% endblock management_content %}
