{% extends "numbas_lti/management/base.html" %}
{% load percentage %}
{% load i18n %}

{% block management_content %}
    {% if resource.attempts.count %}
    <h2>{% trans "Attempts" %}</h2>

    <p><a class="btn btn-info" href="{% url 'attempts_csv' resource.pk %}"><span class="glyphicon glyphicon-save"></span> {% trans "Download attempts summary as CSV" %}</a></p>

    <div>
        <label>{% trans "Search for a student:" %} <input id="query" type="text" class="form-control"></label>
    </div>
    <table id="attempts" class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Student" %}</th>
                <th>{% trans "Start time" %}</th>
                <th></th>
                <th>{% trans "Completion status" %}</th>
                <th>{% trans "Score" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in resource.attempts.all %}
            <tr data-student="{{attempt.user.get_full_name}}">
                <td>{{attempt.user.get_full_name}}</td>
                <td>{{attempt.start_time}}</td>
                <td>
                    <a class="btn btn-link" target="review_attempt" href="{% url 'run_attempt' attempt.pk %}"><span class="text-success"><span class="glyphicon glyphicon-play"></span> {% trans "Review" %}</span></a>{% if attempt.exam != resource.exam %} {% trans "(old exam)" %}{% endif %}
                    <a class="btn btn-link" href="{% url 'remark_parts' attempt.pk %}"><span class="text-warning"><span class="glyphicon glyphicon-pencil"></span> {% trans "Remark" %}</span></a>
                    <a class="btn btn-link" href="{% url 'attempt_scorm_listing' attempt.pk %}"><span class="text-info"><span class="glyphicon glyphicon-list"></span> {% trans "SCORM data" %}</span></a>
                    <a class="btn btn-link" href="{% url 'delete_attempt' attempt.pk %}"><span class="text-danger"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}</span></a>
                </td>
                <td>{% if attempt.broken %}<span class="text-danger">{% trans "Broken" %}</span>{% else %}<span class="{% if attempt.completed %}text-success{% endif %}">{{attempt.completion_status}}</span> {% if attempt.completed %}<a class="btn btn-link" href="{% url 'reopen_attempt' attempt.pk %}">(reopen)</a>{% endif %}{% endif %}</td>
                <td>{{attempt.raw_score}} / {{attempt.max_score}} ({{attempt.scaled_score|percentage}})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function filter_rows(query) {
            query = query.toLowerCase();
            var re = new RegExp(query);
            var rows = document.querySelectorAll('#attempts tbody tr');
            Array.prototype.map.apply(rows,[function(row) {
                var name = row.getAttribute('data-student').toLowerCase();
                row.classList.toggle('hidden',!re.test(name));
            }]);
        }
        var search = document.getElementById('query');
        search.addEventListener('input',function() {
            filter_rows(this.value);
        });
    </script>
    {% else %}
    <p>{% trans "No students have attempted this exam yet. Information about students' attempts will appear here once a student has attempted this exam." %}</p>
    {% endif %}
{% endblock management_content %}
