{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load helplink %}

{% block title %}{{resource.title}} - {{block.super}}{% endblock title %}

{% block content %}
{% include "numbas_lti/management/nav.html" %}
<div class="{% block main_container %}container{% endblock %}">
    <header>
        {% block management_header %}{% endblock %}
    </header>
    {% if page_helplink %}
        <p>{% helplink page_helplink %}</p>
    {% endif %}

    <main>
        {% for message in messages %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {% endfor %}

        {% block management_content %}{% endblock %}
    </main>
    {% include "numbas_lti/management/footer.html" %}
</div>
{% endblock content %}
