{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load helplink %}

{% block body_class %}resource-management {{block.super}}{% endblock body_class %}

{% block title %}{{resource.title}} - {{block.super}}{% endblock title %}

{% block content %}
    {% include "numbas_lti/management/nav.html" %}

    <header>
        {% if page_helplink %}
            {% helplink page_helplink %}
        {% endif %}

        {% block management_header %}{% endblock %}
    </header>

    <main>
        {% for message in messages %}
        <div class="alert info">
            {{message}}
        </div>
        {% endfor %}

        {% block management_content %}{% endblock %}
    </main>
    {% include "numbas_lti/management/footer.html" %}
{% endblock content %}
