{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load helplink %}
{% load querystring %}
{% load static %}

{% block body_class %}{{block.super}} create-exam {% if exams %}has-ready-made-exams{% endif %}{% endblock %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'create_exam.js' %}" defer></script>
{% endblock %}

{% block content %}
    <header>
            <h1>{% translate "New Numbas activity" %}</h1>
            <p>{% translate "This resource doesn't have a Numbas exam package associated with it yet." %}</p>
            {% if editor_links.exists %}
                <p>{% translate "Please upload one now or select from the list of ready-to-use exams." %}</p>
            {% else %}
                <p>{% translate "Please upload one now." %}
            {% endif %}
            {% helplink page_helplink %}
    </header>

    <main>
        <section id="upload-exam">
            <header>
                <h2 class="panel-title">{% icon 'upload' %} {% translate "Upload an exam package" %}</h2>
            </header>
            <form method="POST" enctype="multipart/form-data">
                <p>{% blocktranslate %}To obtain an exam package, find your exam in the Numbas editor and click <em>"Download SCORM package"</em>.{% endblocktranslate %}</p>
                {% if editor_links.count == 1 %}
                <p class="text-center"><a class="button link" target="_blank" href="{{editor_links.first.url}}">{% icon 'new-window' %} {% translate "Click here to open the Numbas editor." %}</a></p>
                {% endif %}
                {% csrf_token %}
                {{form|bootstrap}}
                <button type="submit" class="button large primary">{% icon 'upload' %} {% translate "Submit" %}</button>
            </form>
        </section>
        {% if exams %}
        <section id="ready-made-exams">
            <header>
                <h2 class="panel-title">{% icon 'transfer' %} {% translate "Select a ready-made exam" %}</h2>
            </header>
            <form>
                <label for="exam-search">
                    Search for an exam
                </label>
                <input type="search" name="query" id="exam-search">
                <label for="project-selector">{% translate "in" %}</label>
                <select name="project" id="project-selector">
                    <option value="">{% translate "All projects" %}</option>
                    {% for link in editor_links %}
                    {% for project in link.projects.all %}
                    <option value="{{project.rest_url|escape}}">{{project.name}}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </form>

            <ul id="available-exams">
                {% for exam in exams %}
                <li class="available-exam" data-name="{{exam.name|escape}}" data-project="{{exam.project|escape}}">
                    <p class="exam-name"><a href="{{exam.edit}}">{{exam.name}}</a></p>
                    <p>by <a target="_blank" href="{{exam.author.profile}}">{{exam.author.full_name}}</a></p>
                    <div class="description">{{exam.metadata.description|safe}}</div>
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="retrieve_url" value="{{exam.download}}">
                        <input type="hidden" name="rest_url" value="{{exam.url}}">
                        <p>
                        <a target="_blank" class="button default" href="{{exam.preview}}">{% icon 'play' %} {% translate "Preview" %}</a>
                            <button class="button primary" type="submit">{% icon 'upload' %} {% translate "Use this" %}</button>
                        </p>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
{% endblock content %}
