{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}

{% block content %}
    <header>
        <h1>{% translate "Initial set-up" %}</h1>
    </header>
    <main>
        <p>{% translate "Welcome to the Numbas LTI provider! First, you need to create an admin account." %}</p>

        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">{% icon 'plus' %} {% translate "Create admin account" %}</button>
        </form>
    </main>
{% endblock content %}
