{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<div class="container">
    <header>
        <h1>{% trans "Initial set-up" %}</h1>
    </header>
    <main>
        <div class="lead">
            {% trans "Welcome to the Numbas LTI provider! First, you need to create an admin account." %}
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Create admin account" %}</button>
        </form>
    </main>
{% endblock content %}
