{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load querystring %}
{% load time_tag %}

{% block body_class %}{{block.super}} dashboard{% endblock %}

{% block management_header %}
    <h1>{% translate "Dashboard" %}
{% endblock management_header %}

{% block management_content %}

    {% if no_lineitem and resource.report_mark_time != 'manually' %}
    <div class="alert warning">
        <p>{% blocktranslate %}This resource does not have a line item in the learning platform's grade service.{% endblocktranslate %}</p>
        <p>{% blocktranslate %}Scores can't currently be reported back automatically to the learning platform.{% endblocktranslate %}</p>
        <form action="{% url_with_lti 'resource_create_lineitem' resource.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">{% translate "Create a line item" %}</button>
        </form>
        <form action="{% url_with_lti 'resource_unwanted_lineitem' resource.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="lineitem_unwanted" value="on">
            <button type="submit">{% translate "That's OK, I don't need scores reported back." %}</button>
        </form>
    </div>
    {% endif %}

    <section id="availability">
        {% if resource.is_available %}
            <p class="info">{% translate "This resource is currently available to students." %}</p>
        {% else %}
            <p class="warning">{% translate "This resource is not currently available to students." %}</p>
        {% endif %}
    </section>

    {% if resource.attempts.count %}

        <section id="attempts-count">
            <p><strong>{{resource.unbroken_attempts.count}}</strong> {% blocktranslate count counter=resource.unbroken_attempts.count %}attempt{% plural %}attempts{% endblocktranslate %} {% translate "by" %} <strong>{{students.count}}</strong> {% blocktranslate count counter=students.count %}student{% plural %}students{% endblocktranslate %}.</p>
        </section>

        {% if last_report_process %}
        <section id="last-report-status">
            {% if last_report_process.status == 'reporting' %}
                <div class="alert info">
                    <p>{% translate "Scores are currently being reported back to the grade book" %}.</p>
                    <p><a class="button danger" href="{% url_with_lti 'dismiss_report_process' last_report_process.pk %}">{% translate "Cancel" %}</a></p>
                </div>
            {% elif last_report_process.status == 'complete' %}
                <div class="alert success">
                    <p>{% translate "Scores were successfully reported back to the grade book." %}</p>
                    <p><a class="button success" href="{% url_with_lti 'dismiss_report_process' last_report_process.pk %}">{% translate "Dismiss this message" %}</a></p>
                </div>
            {% elif last_report_process.status == 'error' %}
                <div class="alert danger">
                    <p>{% translate "An error was encountered while reporting scores back to the grade book:" %}</p>
                    <pre>{{last_report_process.response}}</pre>
                    <p>{% translate "Report this error to your VLE's administrator." %}</p>
                    <p><a class="button danger" href="{% url_with_lti 'dismiss_report_process' last_report_process.pk %}">{% translate "Dismiss this message" %}</a></p>
                </div>
            {% endif %}
        </section>
        {% endif %}

        <section>
            <ul class="list-unstyled actions">
                <li><form method="POST" action="{% url_with_lti 'scores_csv' resource.pk %}">{% csrf_token %}<button type="submit" class="button info">{% icon 'save' %} {% translate "Download scores as CSV" %}</button></form></li>
                {% if not last_report_process %}
                <li>
                    <a class="button warning" href="{% url_with_lti 'report_scores' resource.pk %}">{% icon 'upload' %} {% translate "Report scores back to VLE" %}</a>
                    {% if dismissed_report_process %}
                    <span class="warning">{% translate "A report process is being cancelled. Consider waiting until it has finished." %}</span>
                    {% endif %}
                </li>
                {% endif %}
                <li><a class="button" href="{% url_with_lti 'student_progress' resource.pk %}">{% icon 'user' %} {% translate "View individual student progress and grant access tokens" %}</a></li>
                <li>
                    <a class="button danger" href="{% url_with_lti 'discount_parts' resource.pk %}">{% icon 'minus-sign' %} {% translate "Discount question parts" %}</a>
                    <span class="help-block">{% translate "You can remark individual attempts on the attempts page." %}</span>
                </li>
                <li>
                    <a class="button info" href="{% url_with_lti 'validate_receipt' resource.pk %}">{% icon 'ok' %} {% translate "Validate a receipt code" %}</a>
                </li>
            </ul>
        </section>

    {% else %}
        <section id="attempts-count">
            <p>{% translate "No students have attempted this exam yet. Information about scores will appear here once a student attempts this exam." %}</p>
        </section>
    {% endif %}

    {% if exam_info %}
    <hr>

    <section id="settings-info">
        {% if exam_info.navigateMode == 'sequence' %}
        <p>{% blocktranslate %}This exam is in <strong>sequential mode</strong>, best for summative assessments.{% endblocktranslate %}</p>
        {% endif %}
        {% if exam_info.navigateMode == 'menu' %}
        <p>{% blocktranslate %}This exam is in <strong>choose from a menu mode</strong>, best for formative material.{% endblocktranslate %}</p>
        {% endif %}

        {% if resource.max_attempts == 0 %}
        <p>{% blocktranslate %}Students are allowed to start as many attempts as they like.{% endblocktranslate %}</p>
        {% else %}
        <p>{% blocktranslate count counter=resource.max_attempts with max_attempts=resource.max_attempts %}Students may make <strong>one</strong> attempt.{% plural %}Students may start <strong>{{max_attempts}}</strong> attempts.{% endblocktranslate %}</p>
        {% endif %}

        <p>{% blocktranslate %}Students will be shown the following information:{% endblocktranslate %}</p>

        <table class="settings-table">
            <thead>
                <tr>
                    <td class="empty"></td>
                    <th scope="col">{% translate "During an attempt" %}</th>
                    <th scope="col">{% translate "Immediately after finishing an attempt" %}</th>
                    <th scope="col">{% translate "When viewing an attempt in review mode" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{% translate "Total awarded scores for each attempt" %}</th>
                    {% if resource.show_marks_when == 'always' %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if resource.show_marks_when == 'always' or resource.show_marks_when == 'complete' %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if resource.show_marks_when != 'never' %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Part and question maximum scores" %}</th>
                    {% if exam_info.showTotalMark %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showTotalMark or exam_info.completionShowResultsPage %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showTotalMark or exam_info.reviewShowResultsPage %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Awarded scores" %}</th>
                    {% if exam_info.showActualMark %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showActualMark or exam_info.completionShowResultsPage %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showActualMark or exam_info.reviewShowScore %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Expected answers" %}</th>
                    {% if exam_info.allowRevealAnswer %}<td class="success">{% translate "Available" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.completionShowResultsPage and exam_info.reviewShowExpectedAnswer %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.reviewShowResultsPage and exam_info.reviewShowExpectedAnswer %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Question advice" %}</th>
                    {% if exam_info.allowRevealAnswer %}<td class="success">{% translate "Available" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.completionShowResultsPage and exam_info.reviewShowAdvice %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.reviewShowResultsPage and exam_info.reviewShowAdvice %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Part feedback" %}</th>
                    {% if exam_info.showAnswerState %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showAnswerState or exam_info.completionShowResultsPage and exam_info.reviewShowFeedback %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                    {% if exam_info.showAnswerState or exam_info.reviewShowResultsPage and exam_info.reviewShowFeedback %}<td class="success">{% translate "Shown" %}</td>{% else %}<td class="danger">{% translate "Not shown" %}</td>{% endif %}
                </tr>
                <tr>
                    <th scope="row">{% translate "Print a transcript" %}</th>
                    {% if exam_info.allowPrinting %}<td class="success">{% translate "Allowed" %}</td>{% else %}<td class="danger">{% translate "Not allowed" %}</td>{% endif %}
                    {% if exam_info.allowPrinting %}<td class="success">{% translate "Allowed" %}</td>{% else %}<td class="danger">{% translate "Not allowed" %}</td>{% endif %}
                    {% if exam_info.allowPrinting %}<td class="success">{% translate "Allowed" %}</td>{% else %}<td class="danger">{% translate "Not allowed" %}</td>{% endif %}
                </tr>
            </tbody>
        </table>

        <p>{% blocktranslate %}During an attempt, students:{% endblocktranslate %}</p>

        <div class="flex-row">
            <table class="settings-table">
                <thead>
                    <tr>
                        <th scope="col">{% translate "Action" %}</th>
                        <th scope="col">{% translate "Policy" %}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{% translate "Enter a password to begin" %}</td>
                        {% if exam_info.startPassword %}<td class="success">{% translate "Required" %}</td>{% else %}<td class="danger">{% translate "Not required" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Pass threshold" %}</td>
                        {% if exam_info.hasPercentPass %}<td class="success">{{exam_info.percentPass}}</td>{% else %}<td>{% translate "Not set" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Time limit" %}</td>
                        {% if exam_info.hasTimeLimit %}<td class="success">{% blocktranslate with duration=exam_info.duration|floatformat %}{{duration}} minutes{% endblocktranslate %}</td>{% else %}<td>{% translate "No time limit" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Regenerate questions" %}</td>
                        {% if exam_info.allowRegen %}<td class="danger">{% translate "Allowed" %}</td>{% else %}<td class="success">{% translate "Not allowed" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Move to any question" %}</td>
                        {% if exam_info.allowBrowse %}<td>{% translate "Allowed" %}</td>{% else %}<td>{% translate "Not allowed" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Move to previous questions" %}</td>
                        {% if exam_info.allowBrowse or exam_info.allowReverse %}<td>{% translate "Allowed" %}</td>{% else %}<td>{% translate "Not allowed" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Pause the timer" %}</td>
                        {% if exam_info.allowPause %}<td class="danger">{% translate "Allowed" %}</td>{% else %}<td class="success">{% translate "Not allowed" %}</td>{% endif %}
                    </tr>
                    <tr>
                        <td>{% translate "Leave the attempt and come back later" %}</td>
                        <td class="success">{% translate "Allowed" %}</td>
                    </tr>
                </tbody>
            </table>

            <table class="settings-table">
                <thead>
                    <tr>
                        <th scope="col">{% translate "This will happen" %}</th>
                        <th scope="col">{% translate "When" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% blocktranslate %}May attempt the exam{% endblocktranslate %}</td>
                        <td>
                            {% if resource.available_from == None %}
                            {% if resource.available_until == None %}{% translate "any time" %}{% else %}{% blocktranslate with available_until=resource.available_until available_until_iso=resource.available_until|date:"c" %}until <time datetime="{{available_until_iso}}">{{available_until}}</time>{% endblocktranslate %}{% endif %}
                            {% else %}
                                {% if resource.available_until == None %}
                                    {% blocktranslate with available_from=resource.available_from available_from_iso=resource.available_from|date:"c" %}from <time datetime="{{available_from_iso}}">{{available_from}}</time>{% endblocktranslate %}
                                {% else %}
                                    {% if resource.available_from < resource.available_until %}
                                        {% blocktranslate with available_from_iso=resource.available_from|date:"c" available_from=resource.available_from available_until=resource.available_until available_until_iso=resource.available_until|date:"c" %}between <time datetime="{{available_from_iso}}">{{available_from}}</time> and <time datetime="{{available_until_iso}}">{{available_until}}</time>{% endblocktranslate %}
                                    {% else %}
                                        {% blocktranslate with available_from_iso=resource.available_from|date:"c" available_from=resource.available_from available_until=resource.available_until available_until_iso=resource.available_until|date:"c" %}before <time datetime="{{available_from_iso}}">{{available_from}}</time>, or after <time datetime="{{available_until_iso}}">{{available_until}}</time>{% endblocktranslate %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% translate "May review their attempts" %}</td>
                        <td>{% if resource.allow_review_from == None %}{% translate "immediately after finishing an attempt" %}{% else %}{% translate "from" %} {% time_tag resource.allow_review_from %}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% blocktranslate %}Each student's score will be reported back to the consumer{% endblocktranslate %}</td>
                        <td>{% if resource.report_mark_time == 'immediately' %}{% translate "as soon as it changes" %}{% elif resource.report_mark_time == 'oncompletion' %}{% translate "immediately after each attempt is completed" %}{% else %}{% translate "when the instructor requests it" %}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}

{% endblock management_content %}
