{% extends "numbas_lti/management/base.html" %}
{% load percentage %}
{% load i18n %}

{% block body_class %}dashboard{% endblock %}

{% block management_content %}
    {% if resource.attempts.count %}

    <p><strong>{{resource.attempts.count}}</strong> {% blocktrans count counter=resource.attempts.count %}attempt{% plural %}attempts{% endblocktrans %} {% trans "by" %} <strong>{{students.count}}</strong> {% blocktrans count counter=students.count %}student{% plural %}students{% endblocktrans %}.</p>

    {% if last_report_process %}
    <section>
        {% if last_report_process.status == 'reporting' %}
            <div class="alert alert-info">
                <p>{% trans "Scores are currently being reported back to the grade book" %}.</p>
                <p><a class="btn btn-danger" href="{% url 'dismiss_report_process' last_report_process.pk %}">{% trans "Cancel" %}</a></p>
            </div>
        {% elif last_report_process.status == 'complete' %}
            <div class="alert alert-success">
                <p>{% trans "Scores were successfully reported back to the grade book." %}</p>
                <p><a class="btn btn-success btn-sm" href="{% url 'dismiss_report_process' last_report_process.pk %}">{% trans "Dismiss this message" %}</a></p>
            </div>
        {% elif last_report_process.status == 'error' %}
            <div class="alert alert-danger">
                <p>{% trans "An error was encountered while reporting scores back to the grade book:" %}</p>
                <pre>{{last_report_process.response}}</pre>
                <p>{% trans "Report this error to your VLE's administrator." %}</p>
                <p><a class="btn btn-danger btn-sm" href="{% url 'dismiss_report_process' last_report_process.pk %}">{% trans "Dismiss this message" %}</a></p>
            </div>
        {% endif %}
    </section>
    {% endif %}

    <section>
        <ul class="list-unstyled actions">
            <li><a class="btn btn-info" href="{% url 'scores_csv' resource.pk %}"><span class="glyphicon glyphicon-save"></span> {% trans "Download scores as CSV" %}</a></li>
            {% if not last_report_process %}
            <li><a class="btn btn-warning" href="{% url 'report_scores' resource.pk %}"><span class="glyphicon glyphicon-cloud-upload"></span> {% trans "Report scores back to VLE" %}</a></li>
            {% endif %}
            <li><a href="{% url 'student_progress' resource.pk %}"><span class="glyphicon glyphicon-user"></span> {% trans "View individual student progress and grant access tokens" %}</a></li>
            <li>
                <a class="btn btn-danger" href="{% url 'discount_parts' resource.pk %}"><span class="glyphicon glyphicon-minus-sign"></span> {% trans "Discount question parts" %}</a>
                <span class="help-block">{% trans "You can remark individual attempts on the attempts page." %}</span>
            </li>
        </ul>
    </section>

    {% else %}
        <p>{% trans "No students have attempted this exam yet. Information about scores will appear here once a student attempts this exam." %}</p>
    {% endif %}

{% endblock management_content %}
