{% extends "numbas_lti/management/attempt_base.html" %}
{% load i18n %}
{% load querystring %}

{% block attempt_content %}
    <p>{% translate "Are you sure you want to delete this attempt?" %}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <p><button type="submit" class="button danger">{% translate "Delete it" %}</button> <a class="button link" href="{% url_with_lti 'manage_attempts' attempt.resource.pk %}">{% translate "Cancel" %}</a></p>
    </form>
{% endblock attempt_content %}
