{% extends "numbas_lti/management/base.html" %}
{% load percentage %}
{% load i18n %}
{% load static %}
{% load statici18n %}

{% block title %}{% translate "Discount question parts" %} - {{block.super}}{% endblock title %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static "resource_discount.css" %}">
{% endblock stylesheets %}

{% block management_header %}
    <h1>{% translate "Discount question parts" %}</h1>
{% endblock management_header %}


{% block management_content %}

    <p>{% blocktranslate %}For each part that you want to discount, select whether to remove its marks from the total, or to give everyone full marks for that part.{% endblocktranslate %}</p>

    <form method="POST">
        {% csrf_token %}
        <table id="parts" class="table-condensed">
            <colgroup>
                <col class="question">
                <col class="part">
                <col class="gap">
                <col class="control">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">{% translate "Question" %}</th>
                    <th scope="col">{% translate "Part" %}</th>
                    <th scope="col">{% translate "Gap" %}</th>
                    <th scope="col">{% translate "Discount?" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for part in parts %}
                <tr class="{% if part.p is None %}info{% endif %} {% if part.discount %}warning{% endif %}">
                    <td class="{% if part.p is None %}question-id{% endif %} {% if part.p %}muted not-first-appearance{% endif %}">{{part.q}}</td>
                    <td class="{% if part.p and part.g %}muted not-first-appearance{% endif %}">{% if part.p %}{{part.p}}{% endif %}</td>
                    <td>{% if part.g is not None %}{{part.g}}{% endif %}</td>
                    <td class="part-control">
                        {% if part.p %}
                        <select name="discount-{{part.path}}">
                            <option value=""></option>
                            {% for value,label in discount_behaviours %}
                            <option value="{{value}}" {% if part.discount and part.discount.behaviour == value %}selected="selected"{% endif %}>{{label}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="button primary large" type="submit">{% translate "Save" %}</button>
    </form>
{% endblock management_content %}
