{% extends "numbas_lti/management/base.html" %}
{% load percentage %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
{{block.super}}
<style>
    table#parts {
        width: auto;
    }
    table#parts .question-id {
        font-size: 1.2em;
        font-weight: bold;
    }
    table#parts .not-first-appearance {
        color: #ccc;
    }

    .control form {
        display: inline-block;
    }
</style>
{% endblock stylesheets %}

{% block javascripts %}
{{block.super}}
    <script src="{% static 'zepto/zepto.js' %}"></script>

    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function post(url,data) {
        var fd = new FormData();
        if(data) {
            for(var x in data) {
                fd.append(x,data[x]);
            }
        }
        return fetch(url,{
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': csrftoken,
                'Accept': 'application/json'
            },
            body: fd
        }).then(function(r){return r.json()});
    }

    $(function() {
        // Create discount
        $('#parts').on('click','.control form.discount-part',function(e) {
            e.preventDefault();
            var form = e.currentTarget;
            var url = form.getAttribute('action');
            var part = form.querySelector('[name=path]').value;
            post(url,{part:part}).then(function(d) {
                $(form).parents('tr').addClass('warning');
                $(form).parents('.control').html(d.html);
            });
        });

        // Update discount
        $('#parts').on('change','.control form.update-part select',function(e) {
            e.preventDefault();
            var select = e.currentTarget;
            var behaviour = select.value;
            var form = $(select).parents('form')[0];
            var url = form.getAttribute('action');
            post(url,{behaviour:behaviour}).then(function(d) {
            });
        });

        // cancel discount
        $('#parts').on('click','.control form.cancel-discount button',function(e) {
            e.preventDefault();
            var form = $(e.currentTarget).parents('form')[0];
            var url = form.getAttribute('action');
            post(url).then(function(d) {
                $(form).parents('tr').removeClass('warning');
                $(form).parents('.control').html(d.html);
            });
        });

        //Prevent form submit
        $('#parts').on('submit','form',function(e) {
            e.preventDefault();
            return false;
        });
    });

    </script>
{% endblock javascripts %}

{% block management_content %}
    <h2>{% trans "Discount question parts" %}</h2>

    <table id="parts" class="table table-hover table-condensed">
        <colgroup>
            <col class="question">
            <col class="part">
            <col class="gap">
            <col class="control">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Part" %}</th>
                <th>{% trans "Gap" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr class="{% if part.p == None %}info{% endif %} {% if part.discount %}warning{% endif %}">
                <td class="{% if part.p == None %}question-id{% endif %} {% if part.p %}not-first-appearance{% endif %}">{{part.q}}</td>
                <td class="{% if part.p and part.g %}not-first-appearance{% endif %}">{% if part.p %}{{part.p}}{% endif %}</td>
                <td>{% if part.g %}{{part.g}}{% endif %}</td>
                <td>
                    {% if part.p %}
                    <span class="control">
                        {% if part.discount %}
                            {% with form=part.form discount=part.discount %}
                                {% include "numbas_lti/management/discount/discounted.html" %}
                            {% endwith %}
                        {% else %}
                            {% with path=part.path %}
                            {% include "numbas_lti/management/discount/not_discounted.html" %}
                            {% endwith %}
                        {% endif %}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </table>
{% endblock management_content %}
