{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
{{block.super}}
<style type="text/css">
    .nav-tabs {
        margin-bottom: 1rem;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <header>
        <h1>{% trans "Manage LTI consumers" %}</h1>
    </header>
    <main>
        {% if object_list.exists %}
            <div>
                <p>{% trans "The configured LTI consumers are listed below. To access this tool, use the configuration URL below, and the corresponding consumer key and consumer secret." %}</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Consumer key" %}</th>
                        <th>{% trans "Shared secret" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumer in object_list %}
                    <tr>
                        <td><code>{{consumer.key}}</code></td>
                        <td><code>{{consumer.secret}}</code></td>
                        <td><a href="{% url 'delete_consumer' consumer.pk %}" title="{% trans "Delete this consumer" %}" class="btn btn-link"><span class="text-danger glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><a href="{% url 'create_consumer' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a new LTI consumer" %}</a></p>

            <hr>
            <section>
                <h2>{% trans "Configuration information" %}</h2>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#config-xml" aria-controls="config-xml" role="tab" data-toggle="tab">Configuration by URL</a></li>
                    <li role="presentation"><a href="#config-manual" aria-controls="config-manual" role="tab" data-toggle="tab">Manual configuration</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="config-xml">
                        <p>{% trans "Here's the automatic configuration URL:" %}</p>
                        <pre>{{config_url}}</pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="config-manual">
                        <p>{% trans "Here is this tool's Launch URL:" %}</p>
                        <pre>{{entry_url}}</pre>
                        <p>{% trans "And here's the icon URL:" %}</p>
                        <pre>{{icon_url}}</pre>
                        <img src="{% static 'icon.png' %}">
                    </div>
                </div>
            </section>
        {% else %}
            <div class="alert alert-warning">
                <p>{% trans "No LTI consumers have been set up yet." %}</p>
                <p><a href="{% url 'create_consumer' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a new LTI consumer" %}</a></p>
            </div>
        {% endif %}


        <div class="pull-right"><a href="/admin"><span class="glyphicon glyphicon-cog"></span> {% trans "Admin site" %}</a></div>
    </main>

</div>
{% endblock content %}
