{% extends "numbas_lti/management/attempt_base.html" %}
{% load percentage %}
{% load i18n %}
{% load staticfiles %}
{% load statici18n %}

{% block stylesheets %}
{{block.super}}
<style>
    .remark-part {
        cursor: pointer;
    }
    table#parts .form-inline.update-remark input.form-control {
        width: 6em;
    }
    table#parts {
        width: auto;
    }
    table#parts .question-id {
        font-size: 1.2em;
        font-weight: bold;
    }
    table#parts .not-first-appearance {
        color: #ccc;
    }

    .control form {
        display: inline-block;
    }
    .monospace {
        font-family: monospace;
    }

    form.update-remark input.changed {
        background: hsl(0, 50%, 95%);
    }
</style>
{% endblock stylesheets %}

{% block javascripts %}
{{block.super}}
    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% statici18n LANGUAGE_CODE %}"></script>
    <script src="{% static 'discount_remark.js' %}"></script>
    <script src="{% static 'zepto/zepto.js' %}"></script>

    <script>

    $(function() {
        // Create remark
        $('#parts').on('click','.control form.remark-part',function(e) {
            e.preventDefault();
            var form = e.currentTarget;
            var url = form.getAttribute('action');
            var part = form.querySelector('[name=path]').value;
            post(url,{part:part}, form).then(function(d) {
                $(form).parents('tr').addClass('warning');
                $(form).parents('.control').html(d.html);
            }).catch(function(err) {
                alert("There was an error when remarking "+describe_part_path(part));
                console.error(err);
            });
        });

        function save_score(form,score) {
            if(!isNaN(parseFloat(score))) {
                var url = form.getAttribute('action');
                var part = form.querySelector('[name=path]').value;
                post(url,{score:score}).then(function(d) {
                    form.querySelector('#id_score').classList.remove('changed');
                }).catch(function(err) {
                    alert("There was an error when remarking "+describe_part_path(part));
                    console.error(err);
                });
            }
        }

        // Update remark
        $('#parts').on('input','.control form.update-remark input',function(e) {
            var input = e.currentTarget;
            input.classList.add('changed');
        });
        $('#parts').on('change','.control form.update-remark input',function(e) {
            e.preventDefault();
            var select = e.currentTarget;
            var score = select.value;
            var form = $(select).parents('form')[0];
            save_score(form,score);
        });
        $('#parts').on('submit','.control form.update-remark',function(e) {
            e.preventDefault();
            var form = e.currentTarget;
            var select = form.querySelector('input');
            var score = select.value;
            save_score(form,score);
        });

        // cancel remark
        $('#parts').on('click','.control form.cancel-remark button',function(e) {
            e.preventDefault();
            var form = $(e.currentTarget).parents('form')[0];
            var url = form.getAttribute('action');
            var part = form.querySelector('[name=path]').value;
            post(url).then(function(d) {
                $(form).parents('tr').removeClass('warning');
                $(form).parents('.control').html(d.html);
            }).catch(function(err) {
                alert("There was an error when restoring the original mark on "+describe_part_path(part));
                console.error(err);
            });
        });

        //Prevent form submit
        $('#parts').on('submit','form',function(e) {
            e.preventDefault();
            return false;
        });
    });

    </script>
{% endblock javascripts %}

{% block attempt_content %}
    <h3>{% trans "Remark question parts" %}</h3>

    <table id="parts" class="table table-hover table-condensed">
        <colgroup>
            <col class="question">
            <col class="part">
            <col class="gap">
            <col class="control">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Part" %}</th>
                <th>{% trans "Gap" %}</th>
                <th>{% trans "Score" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr class="{% if part.p == None %}info{% endif %} {% if part.discount or part.remark %}warning{% endif %}">
                <td class="{% if part.p == None %}question-id{% endif %} {% if part.p %}not-first-appearance{% endif %}">{{part.q}}</td>
                <td class="{% if part.p and part.g %}not-first-appearance{% endif %}">{% if part.p %}{{part.p}}{% endif %}</td>
                <td>{% if part.g %}{{part.g}}{% endif %}</td>
                <td class="score">
                    {% if part.p %}
                    <span class="control">
                        {% if not part.has_gaps %}
                        {% if part.remark %}
                            {% with form=part.form remark=part.remark max_score=part.max_score %}
                                {% include "numbas_lti/management/remark/remarked.html" %}
                            {% endwith %}
                        {% else %}
                            {% with path=part.path score=part.score max_score=part.max_score remark=part.remark discount=part.discount parent_remarked=part.parent_remarked %}
                            {% include "numbas_lti/management/remark/not_remarked.html" %}
                            {% endwith %}
                        {% endif %}
                        {% endif %}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </table>
{% endblock attempt_content %}
