{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load time_tag %}

{% block title %}{% translate "Replace the exam package" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>{% translate "Replace the exam package" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <section id="upload-exam">
        {% if current_exam.retrieve_url %}
            {% blocktranslate %}
            <p>This exam was imported from the Numbas editor. Click the button below to fetch the latest version of the exam from the editor.</p>
            <p>Alternately, you can upload a new exam package below.</p>
            {% endblocktranslate %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data" action="{% url_with_lti 'replace_exam' resource.pk %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert danger">
                    {% for non_field_error in form.non_field_errors %}
                         {{ non_field_error|safe }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}

            <input type="hidden" name="retrieve_url" value="">

            {% for field in form.visible_fields %}
                <p>
                    {{field.label_tag}}
                    {{field}}
                    {% if field.errors %}
                    <div class="alert danger">
                        {{field.errors}}
                    </div>
                    {% endif %}
                </p>
            {% endfor %}
        
            <p>
                <button class="button danger" type="submit" name="retrieve_url" value="{{current_exam.retrieve_url}}">{% icon 'refresh' %} {% translate "Update from editor" %}</button>
                <button class="button danger" type="submit">{% icon 'upload' %} {% translate "Replace with uploaded package" %}</button>
            </p>
        </form>
    </section>

    <hr>

    <section id="versions">
        <h2>{% translate "All versions of this exam" %}</h2>

        {% if num_attempts_other_versions %}
        <div class="alert warning">
            {% blocktranslate with n=num_attempts_other_versions %}
            <p>There are {{n}} attempts set to use exam package(s) other than the active one.</p>
            <p><strong>If it is safe to do so</strong>, you can set these attempts to use the active version instead.</p>
            {% endblocktranslate %}
            <p class="danger">{% translate "This can not be undone." %}</p>
            <form method="POST" action="{% url_with_lti 'use_current_version' resource.pk %}">
                {% csrf_token %}
                <button class="button danger">{% icon 'arrow-up' %} {% translate "Set all attempts to use the current version." %}</button>
            </form>
        </div>
        {% endif %}

        <div class="help-block">
            <p>{% translate "All exam packages that have been associated with this resource are listed below." %}</p>
            <p>{% translate "The currently active version is highlighted. This version is used for new attempts, and for automatic remarking." %}</p>
        </div>

        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">{% translate "Title" %}</th>
                    <th scope="col">{% translate "Uploaded" %}</th>
                    <th scope="col">{% translate "Attempts using this version" %}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for exam,num_attempts in exams %}
                <tr class="{% if exam.is_active %}active{% endif %}">
                    <td>
                        <a target="_blank" title="{% blocktranslate with title=exam.title creation_time=exam.creation_time %}Test run &ldquo;{{title}}&rdquo; uploaded at {{creation_time}}{% endblocktranslate %}" href="{% url_with_lti 'run_exam' exam.pk %}">{% icon 'play' %} {% translate "Test run" %}</a>
                    </td>
                    <td>
                        <a  title="{% blocktranslate with title=exam.title creation_time=exam.creation_time %}Download &ldquo;{{title}}&rdquo; uploaded at {{creation_time}}{% endblocktranslate %}" href="{{exam.package.url}}">{% icon 'save' %} {% translate "Download" %}</a>
                    </td>
                    <td>{{exam.title}}</td>
                    <td>{% time_tag exam.creation_time %}</td>
                    <td>{{num_attempts}}</td>
                    <td>
                        {% if not exam.is_active %}
                        <form method="POST" action="{% url_with_lti 'restore_exam' resource.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="exam" value="{{exam.pk}}">
                                <button title="{% blocktranslate with title=exam.title creation_time=exam.creation_time %}Use the version &ldquo;{{title}}&rdquo; uploaded at {{creation_time}}{% endblocktranslate %}" type="submit" class="button default">{% icon 'thumbs-up' %} {% translate "Use this version" %}</button>
                            </form>
                        {% else %}
                            {% translate "This version is in use now." %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <hr>

    <p><a class="button link" href="{% url_with_lti 'resource_dashboard' resource.pk %}">{% icon 'arrow-left' %} {% translate "Cancel" %}</a></p>
{% endblock management_content %}
