{% extends "numbas_lti/management/base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block management_content %}
<h1>{% trans "Replace the exam package" %}</h1>

{% with edit_url=current_exam.manifest.edit_url %}
{% if edit_url %}
<p><a class="btn btn-primary" href="{{edit_url}}" target="_blank"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit this exam" %}</a></p>
<hr>
{% endif %}
{% endwith %}

{% if current_exam.retrieve_url %}
    {% blocktrans %}
    <p>This exam was imported from the Numbas editor. Click the button below to fetch the latest version of the exam from the editor.</p>
    {% endblocktrans %}
    <form method="POST" action="{% url 'replace_exam' request.resource.pk %}">
        {% csrf_token %}
        <input type="hidden" name="retrieve_url" value="{{current_exam.retrieve_url}}">
        <input type="hidden" name="rest_url" value="{{current_exam.rest_url}}">
        <div class="checkbox">
            <label>
                {{form.safe_replacement}}
                {{form.safe_replacement.label}}
            </label>
        </div>
        <p><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-transfer"></span> {% trans "Update from editor" %}</button></p>
    </form>
    {% blocktrans %}
    <p>Alternately, you can upload a new exam package below.</p>
    <hr>
    {% endblocktrans %}
{% endif %}


<form method="POST" enctype="multipart/form-data" action="{% url 'replace_exam' request.resource.pk %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">&times;</a>
            {% for non_field_error in form.non_field_errors %}
                 {{ non_field_error|safe }}
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {% include 'bootstrapform/field.html' %}
    {% endfor %}
    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-import"></span> {% trans "Replace" %}</button> 
</form>

<hr>

<h2>{% trans "All versions of this exam" %}</h2>

{% if num_attempts_other_versions %}
<div class="alert alert-warning">
{% blocktrans with n=num_attempts_other_versions %}
<p>There are {{n}} attempts set to use exam package(s) other than the active one.</p>
<p><strong>If it is safe to do so</strong>, you can set these attempts to use the active version instead.</p>
{% endblocktrans %}
<p class="text-danger">{% trans "This can not be undone." %}</p>
<form method="POST" action="{% url 'use_current_version' request.resource.pk %}">
    {% csrf_token %}
    <button class="btn btn-danger"><span class="glyphicon glyphicon-arrow-up"></span> {% trans "Set all attempts to use the current version." %}</button>
</form>
</div>
{% endif %}

<div class="help-block">
    <p>{% trans "All exam packages that have been associated with this resource are listed below." %}</p>
    <p>{% trans "The currently active version is highlighted. This version is used for new attempts, and for automatic remarking." %}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Uploaded" %}</th>
            <th>{% trans "Attempts using this version" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for exam,num_attempts in exams %}
        <tr class="{% if exam.is_active %}active{% endif %}">
            <td>
                <a target="_blank" href="{% url 'run_exam' exam.pk %}"><span class="glyphicon glyphicon-play"></span> {% trans "Test run" %}</a>
            </td>
            <td>
                <a href="{{exam.package.url}}"><span class="glyphicon glyphicon-save"></span> {% trans "Download" %}</a>
            </td>
            <td>{{exam.title}}</td>
            <td>{{exam.creation_time}}</td>
            <td>{{num_attempts}}</td>
            <td>
                {% if not exam.is_active %}
                <form method="POST" action="{% url 'restore_exam' request.resource.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="exam" value="{{exam.pk}}">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Use this version" %}</button>
                    </form>
                {% else %}
                    {% trans "This version is in use now." %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<p><a class="btn btn-link" href="{% url 'resource_dashboard' request.resource.pk %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans "Cancel" %}</a></p>
{% endblock management_content %}
