{% extends "numbas_lti/management/base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block management_content %}
<h1>{% trans "Replace exam" %}</h1>

{% if current_exam.retrieve_url %}
    {% blocktrans %}
    <p>This exam was imported from the Numbas editor. Click the button below to fetch the latest version of the exam from the editor.</p>
    {% endblocktrans %}
    <form method="POST" action="{% url 'replace_exam' request.resource.pk %}">
        {% csrf_token %}
        <input type="hidden" name="retrieve_url" value="{{current_exam.retrieve_url}}">
        <input type="hidden" name="rest_url" value="{{current_exam.rest_url}}">
        <p><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-transfer"></span> {% trans "Update from editor" %}</button></p>
    </form>
    {% blocktrans %}
    <p>Alternately, you can upload a new exam package below.</p>
    <hr>
    {% endblocktrans %}
{% endif %}


<form method="POST" enctype="multipart/form-data" action="{% url 'replace_exam' request.resource.pk %}">
    {% csrf_token %}
    {{form|bootstrap}}
    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-import"></span> {% trans "Replace" %}</button> 
</form>

<hr>
<p><a class="btn btn-link" href="{% url 'resource_dashboard' request.resource.pk %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans "Cancel" %}</a></p>
{% endblock management_content %}
