{% extends "numbas_lti/management/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% load tz %}


{% block management_content %}

<section>
    <h1>{% trans "Settings" %}</h1>
    <ul class="list-inline">
        <li><a class="btn btn-warning" href="{% url 'replace_exam' resource.pk %}"><span class="glyphicon glyphicon-refresh"></span> {% trans "Replace exam package" %}</a></li>
        <li><a class="btn btn-info" href="{{resource.exam.package.url}}"><span class="glyphicon glyphicon-save"></span> {% trans "Download exam package" %}</a></li>
    </ul>
    <hr>
    <form method="POST" action="{% url 'resource_settings' resource.pk %}">
        {% csrf_token %}
        {% get_current_timezone as TIME_ZONE %}
        <p class="help-block">{% blocktrans with TIME_ZONE=TIME_ZONE %}All times are in the timezone {{TIME_ZONE}}.{% endblocktrans %}</p>
        {{form|bootstrap}}
        <p><button class="btn btn-primary" type="submit">{% trans "Save" %}</button> <a class="btn btn-link" href="{% url 'resource_dashboard' resource.pk %}">{% trans "Cancel" %}</a></p>
    </form>
</section>

<hr>

<section>
    <h2>{% trans "Access changes" %}</h2>

    {% if resource.access_changes.exists %}
        <ul>
        {% for ac in resource.access_changes.all %}
            <li>
                <dl>
                    {% if ac.available_from is not None %}
                    <dt>{% trans "Available from" %}</dt>
                    <dd>{{ac.available_from}}</dd>
                    {% endif %}

                    {% if ac.available_until is not None %}
                    <dt>{% trans "Available until" %}</dt>
                    <dd>{{ac.available_until}}</dd>
                    {% endif %}

                    {% if ac.extend_deadline is not None %}
                    <dt>{% trans "Extend deadline by" %}</dt>
                    <dd>{{ac.extend_deadline}}</dd>
                    {% endif %}

                    {% if ac.max_attempts is not None %}
                    <dt>{% trans "Maximum number of attempts" %}</dt>
                    <dd>{% if ac.max_attempts == 0 %}{% trans "Unlimited" %}{% else %}{{ac.max_attempts}}{% endif %}</dd>
                    {% endif %}

                    <dt>{% trans "Applies to" %}</dt>
                    <dd>{{ac.applies_to_summary}}</dd>
                </dl>
                <p>
                    <a href="{% url 'update_access_change' ac.pk %}" ><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a>
                </p>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    <p>
        <a href="{% url 'create_access_change' resource.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add an access change</a>
    </p>
</section>

{% endblock management_content %}

{% block javascripts %}
{{block.super}}
{{form.media}}
{% endblock javascripts %}
