{% extends "numbas_lti/management/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}

{% block management_content %}
<h2>
    {% blocktrans with resource_name=resource.title %}Statistics for <strong>{{resource_name}}</strong>{% endblocktrans %}
    <br>
    <small>{{resource.context.name}}</small>
</h2>

<button type="button" onclick="window.print()" class="hidden-print btn btn-info">
    <span class="glyphicon glyphicon-print"></span>
    {% trans "Print this page" %}
</button>

<section id="attempt_completion">
    <h3>{% trans "Attempt completion" %}</h3>
    <table class="table" id="completion-table">
        <tbody>
            {% for label,value,n in completion_counts %}
            <tr>
                <td>{{label}}</td>
                <td class="value" data-value="{{value}}">{{n}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<input type="checkbox" id="completed-toggle"> <label for="completed-toggle">{% trans "Only count completed attempts" %}</label>

<section id="summary_statistics">
    <h3>{% trans "Summary statistics" %}</h3>
    <table class="table" id="summary-stats-table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Mean" %}</th>
                <th>{% trans "Lower quartile" %}</th>
                <th>{% trans "Median" %}</th>
                <th>{% trans "Upper quartile" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

<section id="stacked_status_chart">
    <div class="legend">
        <span class="num_not_attempted">
            <svg class="box" width="20" height="20"><rect width="20" height="20"></rect></svg>
            {% trans "Not attempted" %}
        </span>
        <span class="num_incorrect">
            <svg class="box" width="20" height="20"><rect width="20" height="20"></rect></svg>
            {% trans "Incorrect" %}
        </span>
        <span class="num_partial">
            <svg class="box" width="20" height="20"><rect width="20" height="20"></rect></svg>
            {% trans "Partially correct" %}
        </span>
        <span class="num_correct">
            <svg class="box" width="20" height="20"><rect width="20" height="20"></rect></svg>
            {% trans "Correct" %}
        </span>
    </div>
    <div class="chart">
        <svg class="diagram"></svg>
    </div>
</section>


<section id="question_scores_chart">
    <h3>{% trans "Score distribution" %}</h3>
    <p>{% blocktrans %}In the following charts, the <i>x</i>-axis represents scaled score, and the <i>y</i>-axis represents the number of attempts achieving that score.{% endblocktrans %}</p>
    <div class="chart"></div>
</section>

<section id="times">
    <h3>{% trans "Attempt times" %}</h3>
	<p>{% blocktrans %}The following chart shows start and end times of all attempts. Note that students may not be active for the whole of the shown time.{% endblocktrans %}</p>
    <div class="chart">
        <svg class="diagram"></svg>
    </div>
</section>

{% endblock %}

{% block stylesheets %}
    {{block.super}}

	<link rel="stylesheet" href="{% static 'resource-stats.css' %}">
{% endblock %}

{% block javascripts %}
{{block.super}}

    <script src="{% static 'robust-websocket.js' %}"></script>

    {% include "numbas_lti/scripts/luxon.html" %}
    <script src="{% static 'd3/d3.min.js' %}"></script>

    {{data|json_script:"data-json"}}

    <script src="{% static 'resource-stats.js' %}" defer></script>
{% endblock %}
