{% extends "numbas_lti/management/base.html" %}
{% load i18n %}

{% block title %}{% translate "Re-mark" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>
        {% blocktranslate with resource_name=resource.title %}Re-mark <strong>{{resource_name}}</strong>{% endblocktranslate %}
    </h1>
{% endblock management_header %}

{% block management_content %}

    <p>{% blocktranslate %}This resource's exam package does not support automatic re-marking. If you can, please update it with a newer version.{% endblocktranslate %}</p>

{% endblock management_content %}
