{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}
{% load statici18n %}

{% block title %}{% translate "Statistics" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>
        {% blocktranslate with resource_name=resource.title %}Statistics for <strong>{{resource_name}}</strong>{% endblocktranslate %}
    </h1>
{% endblock management_header %}

{% block management_content %}
    <button type="button" onclick="window.print()" class="no-print button info">
        {% icon 'print' %}
        {% translate "Print this page" %}
    </button>

    <section id="attempt_completion">
        <h2>{% translate "Attempt completion" %}</h2>
        <table id="completion-table">
            <thead>
                <tr>
                    {% for label,value,n in completion_counts %}
                    <th>{{label}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for label,value,n in completion_counts %}
                    <td class="value" data-value="{{value}}">{{n}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </section>

    <input type="checkbox" id="completed-toggle"> <label for="completed-toggle">{% translate "Only count completed attempts" %}</label>

    <section id="summary_statistics">
        <h2>{% translate "Summary statistics" %}</h2>

        <div class="scrolling-table">
            <table id="summary-stats-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "Mean" %}</th>
                        <th>{% translate "Lower quartile" %}</th>
                        <th>{% translate "Median" %}</th>
                        <th>{% translate "Upper quartile" %}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    <section id="stacked_status_chart">
        <div class="legend">
            <span class="num_not_attempted">
                <svg class="box" width="25" height="25">
                    <defs>
                        <pattern id="not-attempted-fill" x="0" y="0" width="25" height="25">
                            <rect width="100%" height="100%" style="fill: var(--muted-color)"></rect>
                            <circle cx="50%" cy="50%" r="5" style="fill: var(--background-color)"></circle>
                        </pattern>
                    </defs>
                    <rect width="25" height="25"></rect>
                </svg>
                {% translate "Not attempted" %}
            </span>

            <span class="num_incorrect">
                <svg class="box" width="25" height="25">
                    <defs>
                        <pattern id="incorrect-fill" x="0" y="0" width="25" height="25" patternUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" style="fill: var(--danger-color)"></rect>
                            <line x1="0" y1="0" x2="100%" y2="100%" stroke-width="3" style="stroke: var(--background-color)"></line>
                            <line x1="0" y1="100%" x2="100%" y2="0" stroke-width="3" style="stroke: var(--background-color)"></line>
                        </pattern>
                    </defs>
                    <rect width="25" height="25"></rect>
                </svg>
                {% translate "Incorrect" %}
            </span>
            <span class="num_partial">
                <svg class="box" width="25" height="25">
                    <defs>
                        <pattern id="partial-fill" x="0" y="0" width="25" height="25" patternUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" style="fill: var(--warning-color)"></rect>
                            <line x1="0" y1="100%" x2="100%" y2="0" stroke-width="3" style="stroke: var(--background-color)"></line>
                        </pattern>
                    </defs>
                    <rect width="25" height="25"></rect>
                </svg>
                {% translate "Partially correct" %}
            </span>
            <span class="num_correct">
                <svg class="box" width="25" height="25">
                    <defs>
                        <pattern id="correct-fill" x="0" y="0" width="25" height="25" patternUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" style="fill: var(--success-color)"></rect>
                        </pattern>
                    </defs>
                    <rect width="25" height="25"></rect>
                </svg>
                {% translate "Correct" %}
            </span>
        </div>
        <div class="chart">
            <svg class="diagram"></svg>
        </div>
    </section>


    <section id="question_scores_chart">
        <h2>{% translate "Score distribution" %}</h2>
        <p>{% blocktranslate %}In the following charts, the horizontal axis represents scaled score, and the vertical axis represents the number of attempts achieving that score.{% endblocktranslate %}</p>
        <div class="chart"></div>
    </section>

    <section id="times">
        <h2>{% translate "Attempt times" %}</h2>
        <p>{% blocktranslate %}The following chart shows start and end times of all attempts. Note that students may not be active for the whole of the shown time.{% endblocktranslate %}</p>
        <div class="chart">
            <svg class="diagram"></svg>
        </div>
    </section>

    <section id="time_spent_chart">
        <h2>{% translate "Time spent" %}</h2>
        <p>{% blocktranslate %}In the following chart, the horizontal axis represents the time spent on an attempt, and the vertical axis represents the number of attempts lasting that long.{% endblocktranslate %}</p>
        <div class="chart">
        </div>
    </section>

{% endblock management_content %}

{% block stylesheets %}
    {{block.super}}

	<link rel="stylesheet" href="{% static 'resource-stats.css' %}">
{% endblock %}

{% block javascripts %}
{{block.super}}

    <script src="{% static 'robust-websocket.js' %}"></script>

    {% include "numbas_lti/scripts/luxon.html" %}
    <script src="{% static 'd3/d3.min.js' %}"></script>
    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% statici18n LANGUAGE_CODE %}"></script>

    {{data|json_script:"data-json"}}

    <script src="{% static 'resource-stats.js' %}" defer></script>
{% endblock %}
