{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load static %}
{% load statici18n %}
{% load time_tag %}

{% block title %}{% translate "Reports" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>
        {% blocktranslate with resource_name=resource.title %}Reports for <strong>{{resource_name}}</strong>{% endblocktranslate %}
    </h1>
{% endblock management_header %}

{% block management_content %}
    {% if resource.file_reports.exists %}
        <table>
            <thead>
                <tr>
                    <th scope="col">{% translate "File" %}</th>
                    <th scope="col">{% translate "Status" %}</th>
                    <th scope="col">{% translate "Date created" %}</th>
                    <th scope="col">{% translate "Expiry date" %}</th>
                    <th scope="col">{% translate "Created by" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for report in resource.file_reports.all %}
                <tr>
                    <td>{% if report.status == 'complete' %}<a download href="{{ report.outfile.url }}">{{report.name}}</a>{% else %}{{report.name}}{% endif %}</td>
                    <td>{{report.get_status_display}}</td>
                    <td>{% time_tag report.creation_time %}</td>
                    <td>{{report.expiry_date}}</td>
                    <td>{{report.created_by.get_full_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="nothing-here">{% translate "No report files have been created yet." %}</p>
    {% endif %}
{% endblock %}
