{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load static %}
{% load statici18n %}

{% block management_header %}
    <h1>
        {% blocktranslate with resource_name=resource.title %}Re-mark <strong>{{resource_name}}</strong>{% endblocktranslate %}
    </h1>
{% endblock management_header %}

{% block management_content %}
    {% include "numbas_lti/csrf_token_form.html" %}

    <section class="help-block">
        <p>
            {% blocktranslate %}
                On this page you can automatically remark attempts at this resource, using the latest version of the exam package.
                Changed scores are not automatically saved.
            {% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate %}
                Re-marking is computationally intensive. Your browser may become unresponsive while remarking all attempts.
            {% endblocktranslate %}
        </p>
    </section>

    <section id="app">
        <p class="form-inline">
            <input id="use-unsubmitted" type="checkbox" v-model="use_unsubmitted"> <label for="use-unsubmitted">{% translate "Use unsubmitted answers" %}
        </p>
        <p>
            <button class="btn btn-primary" @click="remark_all">{% icon 'repeat' %} {% translate "Re-mark all attempts" %}</button>
            <button class="btn btn-warning" @click="stop_marking">{% icon 'stop' %} {% translate "Stop marking" %}</button>
            <button class="btn btn-danger" @click="save_changed_attempts" :disabled="changed_attempts.length==0 || saving">{% icon 'save' %} {% translate "Save all changed attempts" %}</button>
        </p>

        <div class="alert alert-default" v-if="remarking_all">
            <div class="progress">
                <div class="progress-bar" role="progressbar" :aria-valuenow="remarking_progress|percent" aria-valuemin="0" aria-valuemax="100" :style="{width: (100*remarking_progress)+'%'}">
                    [[remarking_progress|percent]]%
              </div>
            </div>
            <p>{% translate "Time taken:" %} <span v-if="remark_all_time">[[remark_all_time|duration]]</span></p>
            <p>{% translate "Estimated end:" %} <span v-if="estimated_end">[[estimated_end|duration]]</span></p>
        </div>

        <div class="alert alert-warning" v-if="save_error">
            <p>{% translate "There was an error saving changed data:" %}</p>
            <pre>[[save_error]]</pre>
        </div>

        <p>
            [[shown_attempts.length]] {% translate "of" %} [[num_attempts]] {% translate "attempts shown." %}
            [[changed_attempts.length]] {% translate " changed attempts" %}.
            <label for="show-only">{% translate "Show:" %}</label> 
            <select id="show-only" v-model="show_only">
                <option value="all">{% translate "All attempts" %}</option>
                <option value="completed">{% translate "Only completed attempts" %}</option>
                <option value="changed">{% translate "Only changed scores" %}</option>
                <option value="increased">{% translate "Only increased scores" %}</option>
                <option value="decreased">{% translate "Only decreased scores" %}</option>
            </select>
            <label for="sort-by">{% translate "Sort by:" %}</label> 
            <select id="sort-by" v-model="sort_by">
                <option value="name">{% translate "Student name" %}</option>
                <option value="identifier">{% translate "Student identifier" %}</option>
                <option value="start_time">{% translate "Start time" %}</option>
                <option value="completion_status">{% translate "Completion status" %}</option>
                <option value="original_score">{% translate "Original score" %}</option>
                <option value="saved_score">{% translate "Saved score" %}</option>
            </select>
        </p>

        <table class="table" id="attempts-table">
            <colgroup>
                <col class="full-name">
                <col class="identifier">
                <col class="completion-status">
                <col class="score current-score">
                <col class="score remarked-score">
                <col class="status">
                <col class="controls">
                <col class="save">
                <col class="views">
            </colgroup>
            <thead>
                <tr>
                    <th>{% translate "Student" %}</th>
                    <th><!-- identifier --></th>
                    <th>{% translate "Start time" %}</th>
                    <th>{% translate "Completion status" %}</th>
                    <th>{% translate "Original score" %}</th>
                    <th>{% translate "Saved score" %}</th>
                    <th>{% translate "Re-marked score" %}</th>
                    <th>{% translate "Status" %}</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="hidden-attempts-count text-muted" v-if="num_attempts_hidden > 0">
                    <td colspan="6">
                        {% translate "Number of hidden attempts:" %} [[num_attempts_hidden]].
                    </td>
                </tr>
                <template v-for="attempt in shown_attempts">
                <tr class="attempt" :class="{saved: attempt.status=='saved', 'error-saving': attempt.status=='error saving'}">
                    <td>[[attempt.user.full_name]]</td>
                    <td>[[attempt.user.identifier]]</td>
                    <td>[[attempt.start_time|datetime]]</td>
                    <td>[[attempt.completion_status_display]]</td>
                    <td>
                        [[attempt.original_raw_score|dp(3)]]/[[attempt.max_score|dp(3)]]
                        <score-change v-if="attempt.status!='error' && attempt.remarked_raw_score!==null" :from="attempt.original_raw_score" :to="attempt.remarked_raw_score"></score-change>
                    </td>
                    <td>
                        [[attempt.saved_raw_score|dp(3)]]/[[attempt.max_score|dp(3)]]
                        <score-change v-if="attempt.status!='error' && attempt.remarked_raw_score!==null" :from="attempt.saved_raw_score" :to="attempt.remarked_raw_score"></score-change>
                    </td>
                    <td>
                        <span v-if="attempt.status=='remarked' || attempt.status=='saved'">[[attempt.remarked_raw_score|dp(3)]]/[[attempt.max_score|dp(3)]]</span>
                    </td>
                    <td :class="attempt.score_change_classes">
                        <div v-if="attempt.status=='error'">{% translate "Error" %}</div>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" :disabled="attempt.status=='remarking'" @click="remark_single_attempt(attempt)">{% icon 'repeat' %} {% translate "Re-mark" %}</button>
                    </td>
                    <td>
                        <button class="btn btn-danger save" type="button" :disabled="saving || !attempt.can_save" @click="save_single_attempt(attempt)">{% icon 'save' %} {% translate "Save" %}</button>
                        <span class="text-success saved">{% translate "Saved" %}</span>
                        <span class="text-warning error-saving">{% translate "Saving error" %}</span>
                    </td>
                    <td>
                        <a class="btn btn-link" target="review_attempt" :href="attempt.review_url"><span class="text-success">{% icon 'play' %} {% translate "Review" %}</span></a>
                        <a class="btn btn-link" target="_blank" :href="attempt.timeline_url"><span class="text-info">{% icon 'list' %} {% translate "Data" %}</span></a>
                    </td>
                </tr>
                <tr v-if="attempt.status=='error'">
                    <td colspan="9" class="text-warning">
                        <p v-if="attempt.remark_error"><em>{% translate "There was an error remarking this attempt:" %}</em> [[attempt.remark_error]]</p>
                        <p v-if="attempt.fetch_error"><em>{% translate "There was an error fetching data for this attempt:" %}</em> [[attempt.fetch_error]]</p>
                    </td>
                </tr>
                </template>
            </tbody>
        </table>

    </section>

    <iframe id="exam-iframe" src="{% url_with_lti 'resource_remark_iframe' resource.pk %}">
    </iframe>

{% endblock management_content %}

{% block stylesheets %}
    {{block.super}}

    <link rel="stylesheet" href="{% static 'resource_remark.css' %}">
{% endblock stylesheets %}

{% block javascripts %}
    {{block.super}}

    {{parameters|json_script:"parameters-json"}}
    {{attempts|json_script:"attempts-json"}}
    {{exam_source|json_script:"exam-source-json"}}

    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% statici18n LANGUAGE_CODE %}"></script>

    {% include "numbas_lti/scripts/luxon.html" %}

    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'api.js' %}"></script>
    <script src="{% static 'resource_remark.js' %}" defer></script>
{% endblock %}
