{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load tz %}
{% load querystring %}

{% block title %}{% translate "Settings" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>{% translate "Settings" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <nav>
        <a class="button warning" href="{% url_with_lti 'replace_exam' resource.pk %}">{% icon 'refresh' %} {% translate "Replace exam package" %}</a>

        {% with edit_url=current_exam.manifest.edit_url %}
            {% if edit_url %}
                <a class="button primary" href="{{edit_url}}" target="_blank">{% icon 'pencil' %} {% translate "Edit this exam" %}</a>
            {% endif %}
        {% endwith %}

        <a class="button info" href="{{resource.exam.package.url}}">{% icon 'save' %} {% translate "Download exam package" %}</a>
    </nav>

    <hr>

    <section id="settings-form">
        <form class="big" method="POST" action="{% url_with_lti 'resource_settings' resource.pk %}">
            {% csrf_token %}
            {% get_current_timezone as TIME_ZONE %}
            <p class="help-block">{% blocktranslate with TIME_ZONE=TIME_ZONE %}All times are in the timezone <strong>{{TIME_ZONE}}</strong>.{% endblocktranslate %}</p>

            {{form}}

            <p class="submit-buttons"><button class="button primary" type="submit">{% translate "Save" %}</button> <a class="button link" href="{% url_with_lti 'resource_dashboard' resource.pk %}">{% translate "Cancel" %}</a></p>
        </form>
    </section>
{% endblock management_content %}

{% block javascripts %}
    {{block.super}}
    {{form.media}}
    <script defer>
        const lockdown_fields = {
            'numbas': ['lockdown_app_password', 'show_lockdown_app_password'],
            'seb': ['seb_settings', 'show_lockdown_app_password']
        };
        function toggle_lockdown_fields() {
            const require_lockdown_app = document.getElementById('id_require_lockdown_app').value;
            const shown_fields = lockdown_fields[require_lockdown_app] || [];
            Object.entries(lockdown_fields).forEach(([value, fields]) => {
                for(let f of fields) {
                    const show = shown_fields.indexOf(f) >= 0;
                    let group = document.getElementById(`id_${f}`).parentElement;
                    group.classList.toggle('hidden',!show);
                }
            });
        }
        toggle_lockdown_fields();
        document.getElementById('id_require_lockdown_app').addEventListener('input', toggle_lockdown_fields);
    </script>
{% endblock javascripts %}
