{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktranslate with name=exam.title %}Test Run {{name}} {% endblocktranslate %} - {{block.super}}{% endblock title %}

{% block body_class %}test-run {{block.super}}{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <style>
        body {
            display: grid;
            grid-template-rows: min-content 1fr;
            height: 100vh;
        }
        #scorm-player {
            border: none;
        }
        #top-nav {
            margin-bottom: 0;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% include "numbas_lti/management/nav.html" %}

    <iframe id="scorm-player" width="100%" src="{{exam.extracted_url}}/index.html"></iframe>

    <script type="text/javascript" defer>
        var iframe = document.getElementById('scorm-player');

        // TODO replace with ResizeObserver, and use the same template as run_attempt?
        function resize_iframe() {
            if(!iframe.contentWindow) {
                return;
            }
            try {
                var dh = document.documentElement.getBoundingClientRect().bottom;
                var irect = iframe.getBoundingClientRect();
                var iy = irect.y || (irect.top+5);
                var height = dh-iy;
                iframe.style.height = height+'px';
            } catch(e) {
            }
        }
        setInterval(resize_iframe,500);
    </script>
{% endblock content %}
