{% extends "numbas_lti/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{block.super}}
    <style>
        body {
            display: grid;
            grid-template-rows: min-content 1fr;
            height: 100vh;
        }
        #scorm-player {
            border: none;
        }
        .navbar {
            margin-bottom: 0;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% include "numbas_lti/management/nav.html" %}
    <iframe id="scorm-player" width="100%" src="{{exam.extracted_url}}/index.html"></iframe>

    <script type="text/javascript">
        window.addEventListener('load',function() {
            var iframe = document.getElementById('scorm-player');

            function resize_iframe() {
                console.log('resize');
                if(!iframe.contentWindow) {
                    return;
                }
                try {
                    var dh = document.documentElement.getBoundingClientRect().bottom;
                    var iy = iframe.getBoundingClientRect().y;
                    var height = dh-iy;
                    iframe.style.height = height+'px';
                } catch(e) {
                }
            }
            setInterval(resize_iframe,500);
        });
    </script>
{% endblock content %}
