{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load querystring %}

{% block title %}{% translate "Student progress" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>{% translate "Student progress" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <section>
        <label for="query">{% translate "Search for a student:" %}</label> <input id="query" type="text">
        <table id="students">
            <thead>
                <tr>
                    <th scope="col">{% translate "Name" %}</th>
                    <th scope="col">{% translate "Score" %}</th>
                    <th scope="col">{% translate "Score reported to grade book" %}</th>
                    <th scope="col">{% translate "Attempts" %}</th>
                    {% if not unlimited_attempts %}
                    <th scope="col" colspan="2">{% translate "Access tokens" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in student_summary %}
                <tr data-student="{{data.full_name}}">
                    <td>{{data.full_name}}</td>
                    {% if data.attempts > 0 %}
                    <td>
                        {{data.score|percentage}}
                    </td>
                    <td class="{% if data.reported_score != data.score %}warning{% endif %}">
                        {% if data.reported_score is not None %}
                            {{data.reported_score|percentage}}
                        {% endif %}
                        {% if data.reported_score != data.score %}
                        {% icon 'warning-sign' %} <span class="sr-only">{% translate "This score has not been reported to the grade book yet." %}</span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td colspan="2">
                        {% translate "Not attempted" %}
                    </td>
                    {% endif %}
                    <td>{{data.attempts}}</td>
                    {% if not unlimited_attempts %}
                    <td>{{data.access_tokens}}</td>
                    <td>
                        {% if data.pk %}
                        <a class="button warning" href="{% url_with_lti 'grant_access_token' resource.pk data.pk %}" title="{% blocktranslate with user_name=data.full_name %}Grant an access token to {{user_name}}{% endblocktranslate %}">{% icon 'plus' %}</a>
                        {% if data.access_tokens %}<a class="button danger" href="{% url_with_lti 'remove_access_token' resource.pk data.pk %}" title="{% translate "Remove an access token" %}">{% icon 'minus-sign' %}</a>{% endif %}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            function filter_rows(query) {
                query = query.toLowerCase();
                var re = new RegExp(query);
                var rows = document.querySelectorAll('#students tbody tr');
                Array.prototype.map.apply(rows,[function(row) {
                    var name = row.getAttribute('data-student').toLowerCase();
                    row.classList.toggle('hidden',!re.test(name));
                }]);
            }
            var search = document.getElementById('query');
            search.addEventListener('input',function() {
                filter_rows(this.value);
            });
        </script>
    </section>
{% endblock management_content %}
