{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}

{% block management_header %}
    <h1>{% translate "Validate a receipt code" %}</h1>
{% endblock management_header %}

{% block management_content %}

    <p class="help-block">{% blocktranslate %}Enter a code from a student's attempt completion receipt to validate it.{% endblocktranslate %}</p>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            {{form.code}}
        </div>
        <button type="submit" class="btn btn-primary">
            {% icon 'ok' %}
            {% translate "Validate this code" %}
        </button>
    </form>

    {% if submitted %}
        <hr>
        <p class="result {% if valid %}success{% else %}danger{% endif %}">
            {% if valid %}
                {% icon 'ok' %}
                {% translate "Valid code" %}
            {% else %}
                {% icon 'not-ok' %}
                {% translate "Invalid code" %}
            {% endif %}
        </p>

        {% if invalid %}
            <p class="danger">{% translate "The code you entered is not valid." %}</p>
        {% endif %}

        {% if no_attempt %}
            <p class="danger">{% translate "The code you entered does not correspond to an attempt at this resource." %}</p>
        {% endif %}

        {% if summary %}
        <section id="summary">
            <p>{% translate "The code you entered corresponds to the following information:" %}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "In receipt" %}</th>
                        <th>{% translate "In database" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% translate "Attempt" %}</td>
                        <td>
                            {% if attempt %}
                            {% translate "by" %} {{attempt.user.get_full_name}} ({{attempt.user_data.identifier}})
                            {% else %}
                                {% translate "Attempt not found" %}
                            {% endif %}
                        </td>
                        <td>
                            {% if attempt %}
                            <a href="{% url 'attempt_timeline' attempt.pk %}">{% translate "View attempt data" %}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not no_attempt %}
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            {% else %}
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% translate "Start time" %}</td>
                        <td>{{summary.start_time}}</td>
                        <td>{{attempt.start_time}}</td>
                        <td>
                            {% if summary.start_time == attempt.start_time %}
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            {% else %}
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% translate "End time" %}</td>
                        <td>{{summary.end_time}}</td>
                        <td>{{attempt.end_time}}</td>
                        <td>
                            {% if summary.end_time == attempt.end_time %}
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            {% else %}
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if "raw_score" in summary %}
                    <tr>
                        <td>{% translate "Score" %}</td>
                        <td>{{summary.raw_score}}</td>
                        <td>{{attempt.raw_score}}</td>
                        <td>
                            {% if summary.raw_score == attempt.raw_score %}
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            {% else %}
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        {% endif %}
    {% endif %}
{% endblock management_content %}
