{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load time_tag %}

{% block title %}{% translate "Validate a receipt code" %} - {{block.super}}{% endblock title %}

{% block management_header %}
    <h1>{% translate "Validate a receipt code" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <p class="help-block">{% blocktranslate %}Enter a code from a student's attempt completion receipt to validate it.{% endblocktranslate %}</p>

    {% if submitted %}
        <p class="result {% if valid %}success{% else %}danger{% endif %}">
            {% if valid %}
                {% icon 'ok' %}
                {% translate "Valid code" %}
            {% else %}
                {% icon 'not-ok' %}
                {% translate "Invalid code" %}
            {% endif %}
        </p>

        {% if invalid %}
            <p class="danger">{% translate "The code you entered is not valid." %}</p>
        {% endif %}

        {% if no_attempt %}
            <p class="danger">{% translate "The code you entered does not correspond to an attempt at this resource." %}</p>
        {% endif %}

        {% if summary %}
        <section id="summary">
            <h2>{% translate "Summary" %}</h2>

            <p>{% translate "The code you entered corresponds to the following information:" %}</p>

            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">{% translate "In receipt" %}</th>
                        <th scope="col">{% translate "In database" %}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{% translate "Attempt" %}</th>
                        <td>
                            {% if attempt %}
                            {% translate "by" %} {{attempt.user.get_full_name}} ({{attempt.user_data.identifier}})
                            {% else %}
                                {% translate "Attempt not found" %}
                            {% endif %}
                        </td>
                        <td>
                            {% if attempt %}
                            <a href="{% url 'attempt_timeline' attempt.pk %}">{% translate "View attempt data" %}</a>
                            {% endif %}
                        </td>
                        {% if not no_attempt %}
                            <td class="success">
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            </td>
                        {% else %}
                            <td class="danger">
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Start time" %}</th>
                        <td>{% time_tag summary.start_time %}</td>
                        <td>{% time_tag attempt.start_time %}</td>
                        {% if summary.start_time == attempt.start_time %}
                            <td class="success">
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            </td>
                        {% else %}
                            <td class="danger">
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">{% translate "End time" %}</th>
                        <td>{% time_tag summary.end_time %}</td>
                        <td>{% time_tag attempt.end_time %}</td>
                        {% if summary.end_time == attempt.end_time %}
                            <td class="success">
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            </td>
                        {% else %}
                            <td class="danger">
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            </td>
                        {% endif %}
                    </tr>
                    {% if "raw_score" in summary %}
                    <tr>
                        <th scope="row">{% translate "Score" %}</th>
                        <td>{{summary.raw_score}}</td>
                        <td>{{attempt.raw_score}}</td>
                        {% if summary.raw_score == attempt.raw_score %}
                            <td class="success">
                                {% icon 'ok' %}
                                <span class="sr-only">{% translate "Matches" %}</span>
                            </td>
                        {% else %}
                            <td class="danger">
                                {% icon 'not-ok' %}
                                <span class="sr-only">{% translate "Doesn't match" %}</span>
                            </td>
                        {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        {% endif %}

        <hr>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        {{form.code.label_tag}}
        <br>
        {{form.code}}
        <br>
        <button type="submit" class="button primary">
            {% icon 'ok' %}
            {% translate "Validate this code" %}
        </button>
    </form>

{% endblock management_content %}
