{% load i18n %}
{% load bootstrap %}
<form method="POST" action="{% url 'remark_part_delete' remark.pk %}" class="form-inline cancel-remark">
    <input type="hidden" name="path" value="{{path}}">
    <button title="{% trans "Restore the original mark" %}" class="btn btn-sm btn-link">
        <span class="glyphicon glyphicon-remove-sign text-danger"></span>
        <span class="sr-only">{% trans "Restore the original mark" %}</span>
    </button>
</form>
<form method="POST" action="{% url 'remark_part_update' remark.pk %}" class="form-inline update-remark">
    <input type="hidden" name="path" value="{{path}}">
    {{form|bootstrap_inline}} <span class="monospace">/ {{max_score}}</span>
</form>
