{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% blocktranslate with key=consumer.key %}Delete "{{key}}"{% endblocktranslate %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Delete an LTI consumer" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <p>
        {% blocktranslate with key=consumer.key%}Are you sure you want to delete the LTI consumer <code>{{key}}</code>?{% endblocktranslate %}
    </p>

    <p class="text-danger">{% translate "All attempt data accessed through this consumer will be deleted." %}</p>

    <form method="POST" action="">
        {% csrf_token %}
        <p>
            <button type="submit" class="btn btn-danger">{% icon 'trash' %} {% translate "Delete this consumer" %}</button>
            <a class="btn btn-link" href="{% url 'list_consumers' %}">{% translate "Cancel" %}</a>
        </p>
    </form>
{% endblock management_content %}
