{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% translate "Add a new LTI consumer" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Add a new LTI consumer" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <main>
        <p class="lead">{% translate "Instructors will use the consumer key you enter below, and the automatically-generated consumer secret, to add the Numbas LTI tool to their course." %}</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">{% icon 'plus' %} {% translate "Add consumer" %}</button>
        </form>
    </main>
{% endblock management_content %}
