{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{% translate "Consumers" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Consumers" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if object_list.exists %}
        <section id="consumers">
            <p>{% translate "The configured LTI consumers are listed below." %}</p>

            <ul id="consumer-list" class="card-list">
                {% for consumer in object_list %}
                    <li class="consumer card">
                        <header>
                            <h2>
                                <a href="{% url 'view_consumer' consumer.pk %}">{{consumer.title}}</a>
                            </h2>
                        </header>
                        <dl>
                        {% if consumer.lti_11 %}
                            <dt>{% translate "LTI version" %}</dt>
                            <dd>1.1</dd>
                        {% endif %}
                        {% if consumer.lti_13 %}
                            <dt>{% translate "LTI version" %}</dt>
                            <dd>1.3</dd>

                            <dt>{% translate "Issuer" %}</dt>
                            <dd><code>{{consumer.lti_13.tool.issuer}}</code></dd>
                        {% endif %}
                        </dl>
                        <p>
                            {% blocktranslate count num_resources=consumer.resources.count %}
                            1 resource.
                            {% plural %}
                            {{num_resources}} resources.
                            {% endblocktranslate %}
                        </p>
                    </li>
                {% endfor %}

                <li>
                    <p><a href="{% url 'lti_13:register' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI 1.3 consumer" %}</a></p>
                    <p><a href="{% url 'create_consumer' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI 1.1 consumer" %}</a></p>
                </li>
            </ul>
        </section>
    {% else %}
        <div class="alert warning">
            <p>{% translate "No LTI consumers have been set up yet." %}</p>
            <p><a href="{% url 'lti_13:register' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI 1.3 consumer" %}</a></p>
            <p><a href="{% url 'create_consumer' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI 1.1 consumer" %}</a></p>
        </div>
    {% endif %}
{% endblock management_content %}
