{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{% translate "Consumers" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Consumers" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if object_list.exists %}
        <section id="consumers">
            <p>{% translate "The configured LTI consumers are listed below. To access this tool, use the configuration URL below, and the corresponding consumer key and consumer secret." %}</p>

            <table>
                <thead>
                    <tr>
                        <th scope="col">{% translate "Consumer" %}</th>
                        <th scope="col">{% translate "Summary" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumer in object_list %}
                    <tr>
                        <td>
                            <h2>
                                <a href="{% url 'view_consumer' consumer.pk %}">{{consumer.title}}</a>
                            </h2>
                            {% if consumer.lti_11 %}
                                <dl>
                                    <dt>{% translate "LTI version" %}</dt>
                                    <dd>1.1</dd>

                                    <dt>{% translate "Consumer key" %}</dt>
                                    <dd><code>{{consumer.lti_11.key}}</code></dd>

                                    <dt>{% translate "Shared secret" %}</dt>
                                    <dd><code>{{consumer.lti_11.secret}}</code></dd>
                                </dl>
                            {% endif %}
                            {% if consumer.lti_13 %}
                                <dl>
                                    <dt>{% translate "LTI version" %}</dt>
                                    <dd>1.3</dd>

                                    <dt>{% translate "Name" %}</dt>
                                    <dd>{{consumer.lti_13.tool.title}}</dd>

                                    <dt>{% translate "Issuer" %}</dt>
                                    <dd><code>{{consumer.lti_13.tool.issuer}}</code></dd>
                                </dl>
                            {% endif %}
                        </td>
                        <td>
                            {% blocktranslate count num_resources=consumer.resources.count %}
                            1 resource.
                            {% plural %}
                            {{num_resources}} resources.
                            {% endblocktranslate %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><a href="{% url 'create_consumer' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI consumer" %}</a></p>
        </section>

        <section>
            <h2>{% translate "Configuration information" %}</h2>

            <h3>LTI 1.1</h3>
            <dl>
                <dt>{% translate "Here's the automatic configuration URL:" %}</dt>
                <dd><pre>{{config_url}}</pre></dd>

                <dt>{% translate "Here is this tool's Launch URL:" %}</dt>
                <dd><pre>{{entry_url}}</pre></dd>
                <dt>{% translate "And here's the icon URL:" %}</dt>
                <dd>
                    <pre>{{icon_url}}</pre>
                    <img src="{% static 'icon.png' %}">
                </dd>
            </dl>
        </section>
    {% else %}
        <div class="alert warning">
            <p>{% translate "No LTI consumers have been set up yet." %}</p>
            <p><a href="{% url 'create_consumer' %}" class="button primary">{% icon 'plus' %} {% translate "Add a new LTI consumer" %}</a></p>
        </div>
    {% endif %}
{% endblock management_content %}
