{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{% blocktranslate with key=consumer.key %}Manage time periods for "{{key}}"{% endblocktranslate %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% blocktranslate with title=consumer.title %}Manage time periods for {{title}}{% endblocktranslate %}</h1>
{% endblock management_header %}

{% block management_content %}
    <p>{% translate "Use time periods to group contexts belonging to this consumer by the time in which they were active." %}</p>

    <form method="POST" class="form-inline">
        {{form.management_form}}
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th scope="col">{% translate "Name" %}</th>
                    <th scope="col">{% translate "Start" %}</th>
                    <th scope="col">{% translate "End" %}</th>
                    <th scope="col"><span class="sr-only">{% translate "Management" %}</span></th>
                </tr>
            </thead>
            <tbody>
            {% for subform in form %}
                <tr>
                    {{ subform.non_field_errors }}

                    {% for hidden_field in subform.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in subform.visible_fields %}
                        <td>
                        {{field}}
                        {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="warning">{{error}}</span>
                        {% endfor %}
                        {% endif %}
                        </td>
                    {% endfor %}
                    {% if subform.instance.pk %}
                    <td>
                        <a href="{% url 'delete_consumer_time_period' subform.instance.pk %}" class="danger" title="{% translate "Delete this period" %}">{% icon 'trash' %}</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <button type="submit" class="button primary">{% translate "Save" %}</button>
        <a href="{% url 'view_consumer' consumer.pk %}" class="button link">{% translate "Cancel" %}</a>
    </form>
</div>
{% endblock management_content %}
