{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'view_consumer.css' %}">
{%endblock stylesheets %}

{% block management_content %}
<div class="container">
    <header>
        <h1>{% blocktrans with key=consumer.key %}Manage <code>{{key}}</code>{% endblocktrans %}</h1>
    </header>

    {% if consumer.url %}
    <p>
        <a href="{{consumer.url}}" target="_blank">{% trans "Visit this consumer's homepage" %} <span class="glyphicon glyphicon-new-window"></span></a>
    </p>
    {% endif %}

    <dl>
        <dt>{% trans "Key" %}</dt>
        <dd><code>{{consumer.key}}</code></dd>
        <dt>{% trans "Secret" %}</dt>
        <dd><code>{{consumer.secret}}</code></dd>
    </dl>

    <main>
        <h2>{% trans "Contexts" %}</h2>

        {% if not consumer.resources.count %}
            <p>{% trans "This consumer has not created any resources yet." %}</p>
        {% endif %}

        {% for period,contexts in period_groups %}
        <div class="period">
            <h3>{{period.name}}</h3>
            {% regroup contexts by name|first|upper as context_groups %}

            {% for letter in context_groups %}
            <a id="period-{{period.name|slugify}}-context-letter-{{letter.grouper}}"></a>
                <ul>
                    {% for context in letter.list %}
                    <li><a href="{% url 'view_context' context.pk %}">{{context.name}}{% if context.label and context.label != context.name %} ({{context.label}}){% endif %}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% endfor %}

        <a class="btn btn-default" href="{% url 'consumer_manage_time_periods' consumer.pk %}"><span class="glyphicon glyphicon-calendar"></span> Manage time periods</a>
    </main>
</div>
{% endblock management_content %}
