{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{{consumer.key}} - {{block.super}}{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'view_consumer.css' %}">
{%endblock stylesheets %}

{% block management_header %}
<h1>{% blocktranslate with title=consumer.title %}Manage {{title}}{% endblocktranslate %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if consumer.url %}
    <p>
        <a href="{{consumer.url}}" target="_blank">{% translate "Visit this consumer's homepage" %} {% icon 'new-window' %}</a>
    </p>
    {% endif %}

    {% if consumer.lti_11 %}
    <section id="lti-11-details">
        <p>{% translate "This consumer uses LTI 1.1. These are its connection details." %}</p>
        <dl>
            <dt>{% translate "Key" %}</dt>
            <dd><code>{{consumer.lti_11.key}}</code></dd>
            <dt>{% translate "Secret" %}</dt>
            <dd><code>{{consumer.lti_11.secret}}</code></dd>
        </dl>
    </section>
    {% endif %}

    <main>
        <h2>{% translate "Contexts" %}</h2>

        {% if not consumer.contexts.count %}
            <p>{% translate "This consumer has not created any resources yet." %}</p>
        {% endif %}

        <table class="table periods">
            <colgroup>
                <col style="width: 10em;"/>
                <col/>
                <col style="width: 4em;"/>
                <col style="width: 4em;"/>
            </colgroup>
            <thead>
                <th>{% translate "Time period" %}</th>
                <th>{% translate "Context" %}</th>
                <th>{% translate "Resources" %}</th>
                <th>{% translate "Attempts" %}</th>
            </thead>
            <tbody>
            {% for period,contexts in period_groups %}
                {% for context in contexts %}
                <tr>
                    {% if forloop.first %}<td rowspan="{{contexts|length}}">{% if period %}{{period.name}}{% else %}{% translate "Not in a defined time period" %}{% endif %}</td>{% endif %}
                    <td><a href="{% url 'view_context' context.pk %}">{{context.name}}{% if context.label and context.label != context.name %} ({{context.label}}){% endif %}</a></td>
                    <td class="number">{{context.resources.count}}</td>
                    <td class="number">{{context.num_attempts}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default" href="{% url 'consumer_manage_time_periods' consumer.pk %}">{% icon 'calendar' %} Manage time periods</a>
    </main>
</div>
{% endblock management_content %}
