{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{{context.name|default:"Unnamed course"}} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{{context.name|default:"Unnamed course"}} {% if context.label and context.label != context.name %}({{context.label}}){% endif %}</h1>
{% endblock management_header %}

{% block management_content %}

    <p>{% translate "A context in" %} <a href="{% url 'view_consumer' context.consumer.pk %}">{{context.consumer.title}}</a>.</p>

    <p><a href="{% url 'delete_context' context.pk %}" class="button danger">{% icon 'trash' %} {% translate "Delete this context" %}</a></p>

    <section id="resources">
        {% if context.resources.exists %}
        <h2>{% translate "Resources" %}</h2>
        <table>
            {% for resource in context.resources.all %}
            <tr class="resource{% if resource.is_old %} old{% endif %}{% if resource.is_new %} new warning{% endif %}">
                <td>
                    <a href="{% url 'resource_dashboard' resource.pk %}" target="_blank">{{resource.title|default:"Unnamed resource"}} {% if resource.exam.title and resource.title != resource.exam.title %}<small class="text-muted">({{resource.exam.title}})</small>{% endif %}</a>
                </td>
                <td>
                    {% if resource.is_available %}
                    <span class="text-success">{% icon 'eye-open' %} {% translate "Open" %}</span>
                    {% else %}
                    <span class="text-muted">{% icon 'eye-close' %} {% translate "Closed" %}</span>
                    {% endif %}</td>
                <td>{% translate "Created" %} {{resource.creation_time}}</td>
                <td>
                    {% blocktranslate count num_attempts=resource.unbroken_attempts.count %}
                    1 attempt.
                    {% plural %}
                    {{num_attempts}} attempts.
                    {% endblocktranslate %}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>{% translate "This context is not associated with any resources." %}</p>
        {% endif %}
{% endblock management_content %}
