{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load helplink %}
{% load querystring %}
{% load static %}

{% block title %}{% translate "Edit summary page" %} - {{block.super}}{% endblock title %}

{% block body_class %}{{block.super}} create-context-summary{% endblock %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static 'group-sorter.js' %}"></script>
{% endblock javascripts %}

{% block content %}
    <header>
        {% helplink page_helplink %}
        <h1>{% translate "Edit summary page" %}</h1>
    </header>

    <main>
        <form method="POST" class="big">
            {% csrf_token %}

            {{form.context}}

            {% if form.non_field_errors %}
                <div class="alert danger">
                    {% for non_field_error in form.non_field_errors %}
                         {{ non_field_error|safe }}
                    {% endfor %}
                </div>
            {% endif %}

            {{form.errors}}

            <fieldset>
                <p>{{form.name.as_field_group}}</p>

                <p>{{form.layout.as_field_group}}</p>

                <p>{{form.show_total_score.as_field_group}}</p>

                <p>{{form.show_due_dates.as_field_group}}</p>

                <p>{{form.show_header.as_field_group}}</p>
            </fieldset>

            <fieldset class="has-table">
                <legend>{% translate "Resources" %}</legend>
                <table id="items-fallback">
                    <thead>
                        <tr>
                            <th scope="col">{% translate "Resource" %}</th>
                            <th scope="col">{% translate "Include?" %}</th>
                            <th scope="col">{% translate "Group name" %}</th>
                            <th scope="col">{% translate "Group index" %}</th>
                            <th scope="col">{% translate "Index" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resource, through in resources %}
                        <tr>
                            <td><a target="preview" href="{% url_with_lti 'resource_dashboard' resource.pk %}">{{resource.title}}</a></td>
                            <td><input type="checkbox" name="resource_pk" value="{{resource.pk}}" {% if through.pk %}checked{% endif %}></td>
                            <td><input type="text" name="resource-{{resource.pk}}-group" value="{{through.group}}"></td>
                            <td><input type="number" name="resource-{{resource.pk}}-group_order" value="{{through.group_order}}"></td>
                            <td><input type="number" name="resource-{{resource.pk}}-order" value="{{through.order}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="sorter"></div>
            </fieldset>

            <p><button type="submit" class="button primary">{% translate "Save" %}</button></p>
        </form>
    </main>

    {% include "numbas_lti/footer.html" %}
{% endblock content %}
