{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}

{% block title %}{% blocktranslate with description=object.description %}Delete access change "{{description}}"{% endblocktranslate %} - {{block.super}}{% endblock %}

{% block management_content %}
<div class="container">
    <header>
        <h1>Delete an access change</h1>
    </header>

    <main>
        <p>
            {% blocktranslate with description=object.description %}Are you sure you want to delete the access change <em>{{description}}</em>?{% endblocktranslate %}
        </p>
        <p>{% translate "Access settings for users affected by this access change will revert to the defaults." %}</p>
        <form method="POST" action="">
            {% csrf_token %}
            <p>
                <button type="submit" class="btn btn-danger">{% icon 'trash' %} {% translate "Delete this access change" %}</button>
                <a class="btn btn-link" href="{% url_with_lti 'resource_access_changes' object.resource.pk %}">{% translate "Cancel" %}</a>
            </p>
        </form>
    </main>
</div>
{% endblock management_content %}
