{% extends "numbas_lti/management/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% load tz %}
{% load static %}


{% block management_content %}
<h1>{% if create %}{% trans "Create an access change" %}{% else %}{% trans "Edit an access change" %}{% endif %}</h1>
{% if not create %}
<form method="POST" action="{% url 'delete_access_change' object.pk %}">
    {% csrf_token %}
    <p>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete this access change" %}</button>
    </p>
</form>
{% endif %}
<div class="help-block">
    <p>{% blocktrans %}Only fill in the fields you wish to change. Fields left blank will not override the resource's normal settings.{% endblocktrans %}</p>
</div>

<form method="POST" action="{% if create %}{% url 'create_access_change' resource.pk %}{% else %}{% url 'update_access_change' object.pk %}{% endif %}">
    {{form.resource}}
    {% csrf_token %}
    {% get_current_timezone as TIME_ZONE %}

    <fieldset>
        {{form.description|bootstrap}}
    </fieldset>

    <fieldset>
        <legend>{% trans "Availability dates" %}</legend>
        <p class="help-block">{% blocktrans with TIME_ZONE=TIME_ZONE %}All times are in the timezone {{TIME_ZONE}}.{% endblocktrans %}</p>
        <div class="row">
            <div class="col-sm-6">
                {{form.available_from|bootstrap}}
                <p class="help-block">
                    {% blocktrans with value=resource.available_from %}Instead of {{value}}.{% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-6">
                {{form.available_until|bootstrap}}
                <p class="help-block">
                    {% blocktrans with value=resource.available_until %}Instead of {{value}}.{% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="form-inline">
            <label>
            {% trans "Extend the deadline by" %}
            </label>
            <div class="form-group">
               {{form.extend_deadline_days}}
               <label for="{{form.extend_deadline_days.auto_id}}">{{form.extend_deadline_days.label}}</label>
            </div>
            {% trans "and" %}
            <div class="form-group">
                {{form.extend_deadline_minutes}}
               <label for="{{form.extend_deadline_minutes.auto_id}}">{{form.extend_deadline_minutes.label}}</label>
            </div>
            <p class="help-block">
                {% blocktrans %}Use "Extend the deadline by" to move the resource's normal "Available until" date.{% endblocktrans %}
            </p>
        </div>
    </fieldset>
    {% if resource.exam.has_duration %}
    <fieldset>
        <legend>{% trans "Exam duration" %}</legend>
        <div class="form-inline">
            <p>
                <label for="{{form.extend_duration.id_for_label}}">{{form.extend_duration.label}}</label>
                {{form.extend_duration}}
                {{form.extend_duration_units}}
            </p>
            <p class="help-block">
                {% blocktrans %}Change the length of time the student has to complete an attempt after starting it.{% endblocktrans %}
            </p>
        </div>
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>{% trans "Number of attempts" %}</legend>
        {{form.max_attempts|bootstrap}}
        <p class="help-block">
            {% blocktrans with value=resource.max_attempts %}Instead of {{value}}.{% endblocktrans %}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% trans "Applies to" %}</legend>
        {{form.usernames|bootstrap}}
        {{form.emails|bootstrap}}
    </fieldset>
    <p><button class="btn btn-lg btn-primary" type="submit">{% trans "Save" %}</button> <a class="btn btn-link" href="{% url 'resource_settings' resource.pk %}">{% trans "Cancel" %}</a></p>
</form>
{% endblock management_content %}

{% block javascripts %}
{{block.super}}
{{form.media}}
{% endblock javascripts %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static 'access_change_form.css' %}"></link>
{% endblock %}
