{% extends "numbas_lti/management/base.html" %}
{% load i18n %}
{% load icon %}
{% load querystring %}
{% load tz %}
{% load static %}

{% block management_header %}
    <h1>{% translate "Access changes" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <section>
        {% if resource.access_changes.exists %}
        <section id="access-changes">
            <p>
                <a href="{% url_with_lti 'create_access_change' resource.pk %}" class="button primary">{% icon 'plus' %} Add an access change</a>
            </p>
            {% for ac in resource.access_changes.all %}
                <article class="access-change">
                    <header>
                        <h2 class="panel-heading">{{ac.description}}</h2>
                    </header>

                    <dl>
                        {% if ac.available_from is not None %}
                        <dt>{% translate "Available from" %}</dt>
                        <dd>{{ac.available_from}}</dd>
                        {% endif %}

                        {% if ac.available_until is not None %}
                        <dt>{% translate "Available until" %}</dt>
                        <dd>{{ac.available_until}}</dd>
                        {% endif %}

                        {% if ac.extend_deadline is not None %}
                        <dt>{% translate "Extend deadline by" %}</dt>
                        <dd>{{ac.extend_deadline}}</dd>
                        {% endif %}

                        {% if ac.disable_duration %}
                        <dt>{% translate "Time limit" %}</dt>
                        <dd>{% translate "Disabled" %}</dd>

                        {% elif ac.extend_duration is not None %}
                        <dt>{% translate "Extend exam duration by" %}</dt>
                        <dd>{{ac.extend_duration_string}}</dd>
                        {% endif %}

                        {% if ac.max_attempts is not None %}
                        <dt>{% translate "Maximum number of attempts" %}</dt>
                        <dd>{% if ac.max_attempts == 0 %}{% translate "Unlimited" %}{% else %}{{ac.max_attempts}}{% endif %}</dd>
                        {% endif %}

                        <dt>{% translate "Applies to" %}</dt>
                        <dd>{{ac.applies_to_summary}}</dd>
                    </dl>
                    <a class="button link" href="{% url_with_lti 'update_access_change' ac.pk %}" >{% icon 'pencil' %} {% translate "Edit" %}</a>
                    <a class="button danger" href="{% url_with_lti 'delete_access_change' ac.pk %}" >{% icon 'trash' %} {% translate "Delete" %}</a>
                </article>
            {% endfor %}
        {% else %}
            <p>{% translate "No access changes have been applied to this resource." %}</p>
        {% endif %}
    </section>
{% endblock management_content %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'access_change_list.css' %}"></link>
{% endblock %}
