{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <title>{% trans "Numbas LTI Provider" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        {% endblock stylesheets %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}

		{% block javascripts %}
		<script src="{% static 'jquery/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </body>
</html>
