{% load static %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{{INSTANCE_NAME}} {% trans "Numbas LTI Provider" %}{% endblock %}</title>
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'numbas_lti.css' %}">
        {% endblock stylesheets %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block content %}
        {% endblock content %}

		{% block javascripts %}
		<script src="{% static 'jquery/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </body>
</html>
