{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}

{% block content %}
    <header>
        <h1>{% translate "Numbas LTI provider" %}</h1>
    </header>
    <main>
        <p class="lead">
            {% blocktranslate %}
            Welcome to the Numbas LTI tool provider. To use this tool, you need a <strong>consumer key</strong> and <strong>consumer secret</strong>.
            The site administrator can create these for you.
            {% endblocktranslate %}
        </p>
        <p>{% translate "Here is this tool's Launch URL:" %}</p>
        <pre>{{entry_url}}</pre>

        <p><a href="{% url 'list_consumers' %}">{% icon 'list' %} {% translate "Administration (login required)" %}</a></p>
    </main>

    {% include "numbas_lti/management/footer.html" %}
{% endblock content %}
