{% extends "numbas_lti/error_message.html" %}
{% load i18n %}
{% load icon %}

{% block header_message %}{% translate "Not authorized" %}{% endblock %}

{% block main %}
    <p>{% translate "You're not authorized to view this page." %}</p>
    <p>{% translate "It's possible your authorization expired - leave this activity and re-enter." %}</p>
    <p>{% translate "If this page has loaded inside a frame, try opening the activity in a new tab instead." %}</p>
    <p>
        <a class="button primary" href="{{request.GET.originalurl}}" target="_blank">
            {% icon 'new-window' %}
            Open in a new tab
        </a>
    </p>
{% endblock main %}
