{% extends "numbas_lti/base.html" %}
{% load percentage %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="alert alert-warning">
    <header>
        <h1><span class="glyphicon glyphicon-exclamation-sign"></span> {% trans "Not authorized" %}</h1>
    </header>

    <main>
        <p>{% trans "You're not authorized to view this page." %}</p>
        <p>{% trans "It's possible your authorization expired - leave this activity and re-enter." %}</p>
        <p>{% trans "If this page has loaded inside a frame in your VLE, try setting the activity to launch in a new tab instead." %}</p>
    </main>
    </div>
</div>
{% endblock content %}
