{% load static %}
{% load i18n %}
{% load statici18n %}
<!doctype html>
<html>
<head>
    <title>{{attempt.resource.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{% static "run_attempt.css" %}"></link>
</head>
<body>
    {% include "numbas_lti/csrf_token_form.html" %}
<div id="status-display" tabindex="1" class="ok">
    <span class="symbol">!</span>
    <span class="status-message text-unavailable-at">
        <div class="text">
            <p>{% blocktranslate with available_until=available_until|date:"r" %}This attempt will automatically close at <span class="available-until">{{available_until}}</span>, if not already closed. {% endblocktranslate %}</p>
        </div>
    </span>
    <span class="status-message text-ended">
        <div class="text">
            <p>{% blocktranslate with available_until=available_until|date:"r" %}This attempt automatically closed at <span class="available-until">{{available_until}}</span>{% endblocktranslate %}</p>
        </div>
    </span>
    <span class="status-message text-terminated">
        <div class="text">
            <p>{% translate "Attempt data is being saved to the database. Please wait." %}</p>
        </div>
    </span>
    <span class="status-message text-ok">
        <div class="text">
            <p>{% translate "All attempt data has been saved to the database. You may now close this window." %}</p>
            {% if attempt.resource.require_lockdown_app == 'seb' %}
            <p><a href="{{SEB_QUIT_LINK}}">{% translate "Close the window" %}</a></p>
            {% endif %}
        </div>
    </span>
    <span class="status-message text-disconnected">
        <div class="text">
            <p>{% translate "There is currently no connection to the server - your attempt data can not be saved to the database." %}</p>
            <p>{% translate "When the connection is restored, data will be saved to the database." %}</p>
            <p class="text-localstorage-used">{% translate "Data is being saved locally, so you'll be able to resume this attempt <strong>from this device</strong> when the connection is restored." %}</p>
            {% if support_name %}<p>{% translate "If this warning remains visible for a long time, please contact " %}{% if support_url %}<a href="{{support_url}}">{% endif %}{{support_name}}{% if support_url %}</a>{% endif %}.</p>{% endif %}
        </div>
    </span>
    <span class="status-message text-confirmation">
        <div class="text">
            <p>{% translate "The following code can be used by your instructor to verify the information in this receipt:" %}</p>
            <pre id="receipt-code"></pre>
        </div>
    </span>
    <span class="status-message text-failed-final-ajax">
        <div class="text">
            <p>{% translate "There was an error closing this attempt. Please ask your instructor to check that your data has been saved correctly." %}</p>
            <button type="button" id="try-final-ajax-again">{% translate "Try again" %}</button>
        </div>
    </span>
</div>
<div id="deadline-change-display" tabindex="1">
    <p>{% blocktranslate %}The availability dates for this attempt have changed. The attempt is available until <span class="available-until"></span>.{% endblocktranslate %}</p>
    <p>{% translate "Click this message to dismiss it." %}</p>
</div>
<div id="scorm-player-container">
    <h1 style="text-align: center">Loading "{{attempt.resource.title}}"</h1>
</div>

{% if scorm_cmi %}
{% get_current_language as LANGUAGE_CODE %}
<script src="{% statici18n LANGUAGE_CODE %}"></script>
<script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>
<script type="text/javascript" src="{% static 'promise.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fetch.js' %}"></script>
{% include "numbas_lti/scripts/luxon.html" %}
<script type="text/javascript" src="{% static 'api.js' %}"></script>
{{js_vars|json_script:"js_vars"}}
<script type="text/javascript" defer>
    var js_vars = JSON.parse(document.getElementById('js_vars').textContent);
    try {
        var sc = new SCORM_API(js_vars);
        window.API_1484_11 = sc.API_1484_11;
    } catch(e) {
        console.error(e);
        alert("{% translate "A connection to the server could not be created. Please report this." %}");
        window.location.href = '{% url 'show_attempts' %}';
    }
    var iframe = document.createElement('iframe');
    iframe.setAttribute('id','scorm-player');
    iframe.setAttribute('width','100%');
    iframe.setAttribute('height','100%');
    iframe.setAttribute('src',js_vars.exam_url);
    var iframe_container = document.getElementById('scorm-player-container');
    iframe_container.innerHTML = '';
    iframe_container.appendChild(iframe);

    // TODO - replace with a ResizeObserver
    function resize_iframe() {
        var iframe = document.getElementById('scorm-player');
        if(!(iframe && iframe.contentWindow)) {
            return;
        }
        try {
            var dh = document.documentElement.getBoundingClientRect().bottom;
            var ih = iframe.clientHeight;
            var oh = dh-ih;
            var wh = window.innerHeight;
            var h = wh-oh-10;
            var height = Math.max(500,h);
            iframe.style.height = height+'px';
        } catch(e) {
        }
    }
    setInterval(resize_iframe,500);
</script>
{% endif %}
</body>
</html>
