{% load static %}
{% load i18n %}
{% load statici18n %}
<!doctype html>
<html>
<head>
    <title>{{attempt.resource.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{% static "run_attempt.css" %}"></link>
</head>
<body>
    {% include "numbas_lti/csrf_token_form.html" %}
<div id="status-display" tabindex="1" class="ok">
    <span class="status-message text-unavailable-at">
        <p>{% blocktranslate with available_until=available_until|date:"r" %}This attempt will automatically close at <span class="available-until">{{available_until}}</span>, if not already closed. {% endblocktranslate %}</p>
    </span>
    <span class="status-message text-ended">
        <p>{% blocktranslate with available_until=available_until|date:"r" %}This attempt automatically closed at <span class="available-until">{{available_until}}</span>{% endblocktranslate %}</p>
    </span>
    <span class="status-message text-terminated">
        <p>{% translate "Attempt data is being saved to the database. Please wait." %}</p>
    </span>
    <span class="status-message text-ok">
        <p>{% translate "All attempt data has been saved to the database. You may now close this window." %}</p>
        {% if require_lockdown_app == 'seb' %}
        <p><a href="{{SEB_QUIT_LINK}}">{% translate "Close the window" %}</a></p>
        {% endif %}
    </span>
    <span class="status-message text-disconnected">
        <p>{% translate "There is currently no connection to the server - your attempt data can not be saved to the database." %}</p>
        <p>{% translate "When the connection is restored, data will be saved to the database." %}</p>
        <p class="text-localstorage-used">{% translate "Data is being saved locally, so you'll be able to resume this attempt <strong>from this device</strong> when the connection is restored." %}</p>
        {% if support_name %}<p>{% translate "If this warning remains visible for a long time, please contact " %}{% if support_url %}<a href="{{support_url}}">{% endif %}{{support_name}}{% if support_url %}</a>{% endif %}.</p>{% endif %}
    </span>
    <span class="status-message text-confirmation">
        <p>{% translate "The following code can be used by your instructor to verify the information in this receipt:" %}</p>
        <pre id="receipt-code"></pre>
    </span>
    <span class="status-message text-failed-final-ajax">
        <p>{% translate "There was an error closing this attempt. Please ask your instructor to check that your data has been saved correctly." %}</p>
        <button type="button" id="try-final-ajax-again">{% translate "Try again" %}</button>
    </span>
    <span class="status-message text-loading-error">
        <div class="text">
            <p>{% trans "There was an error loading the data for this attempt. Please reload the page." %}</p>
            <button type="button" onclick="location.reload()">{% trans "Reload the page" %}</button>
        </div>
    </span>
</div>
<div id="deadline-change-display" tabindex="1">
    <p>{% blocktranslate %}The availability dates for this attempt have changed. The attempt is available until <span class="available-until"></span>.{% endblocktranslate %}</p>
    <p>{% translate "Click this message to dismiss it." %}</p>
</div>
<div id="scorm-player-container">
    <h1 style="text-align: center">Loading "{{attempt.resource.title}}"</h1>
</div>

{% if load_cmi %}
{% get_current_language as LANGUAGE_CODE %}
<script src="{% statici18n LANGUAGE_CODE %}"></script>
<script type="text/javascript" src="{% static 'robust-websocket.js' %}"></script>
<script type="text/javascript" src="{% static 'promise.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fetch.js' %}"></script>
{% include "numbas_lti/scripts/luxon.html" %}
<script type="text/javascript" src="{% static 'api.js' %}"></script>
{{js_vars|json_script:"js_vars"}}
<script type="text/javascript" src="{% static 'run_attempt.js' %}"></script>
{% endif %}
</body>
</html>
