{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load querystring %}

{% block content %}
    <header>
        <h1>
            {{resource.title}}
        </h1>
    </header>

    <main>
        <p class="lead">
            {% blocktranslate with name=user.get_full_name %} Hi {{name}}.{% endblocktranslate %}
            {% translate "You have already attempted this activity." %}
            <br>
            {% blocktranslate count num_attempts=object_list|length %}You can resume or review your previous attempt{% plural %}You can resume or review your previous attempts{% endblocktranslate %}{% if can_start_new_attempt %}{% translate ", or start a new one" %}{% endif %}.
        </p>

        {% if resource.discounted_parts.exists %}
        <div class="alert info">
            <p>{% blocktranslate %}Parts of this activity have been discounted by an instructor. Your final score may not match the one you see.{% endblocktranslate %}</p>
        </div>
        {% endif %}

        {% for message in messages %}
        <div class="alert info">
            {{message}}
        </div>
        {% endfor %}

        <table class="table">
            <thead>
                <tr>
                    <th>{% translate "Start time" %}</th>
                    <th>{% translate "Score" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if can_start_new_attempt %}
                <tr>
                    <td colspan="2">
                    <td>
                        <a class="button warning" href="{% url_with_lti 'new_attempt' %}">{% icon 'plus' %} {% translate "Start a new attempt" %}</a>
                    </td>
                </tr>
                {% endif %}
                {% for attempt in object_list %}
                <tr>
                    <td>{{attempt.start_time}}</td>
                    <td>
                        {% if attempt.should_show_scores %}
                            {{attempt.raw_score}} / {{attempt.max_score}} ({{attempt.scaled_score|percentage}})
                        {% else %}
                            {% if attempt.completed %}
                                {% translate "Completed" %}
                            {% else %}
                                <em>{% translate "In progress" %}</em>
                            {% endif %}
                        {% endif %}
                        {% if attempt.is_remarked %}
                        <br>
                        <small>{% translate "This score has been manually changed by an instructor." %}</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if attempt.completed %}
                            {% if attempt.review_allowed %}
                            <a class="button info" href="{% url_with_lti 'run_attempt' pk=attempt.pk %}">
                                {% icon 'play' %} {% translate "Review this attempt" %}
                            </a>
                            {% else %}
                                {% if attempt.resource.allow_review_from %}
                                    {% blocktranslate with time=attempt.resource.allow_review_from %}Review will be available from {{time}}{% endblocktranslate %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if attempt.resume_allowed %}
                            <a class="btn {% if attempt.completed %}info{% else %}primary{% endif %}" href="{% url_with_lti 'run_attempt' pk=attempt.pk %}">
                                {% icon 'play' %} {% translate "Continue" %}
                            </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</div>
{% endblock content %}
