{% extends "numbas_lti/base.html" %}
{% load i18n %}
{% load icon %}
{% load percentage %}
{% load querystring %}
{% load time_tag %}

{% block title %}{{resource.title}} - {{block.super}}{% endblock title %}

{% block body_class %}show-attempts {{block.super}}{% endblock %}

{% block content %}
    <header>
        <h1>
            {{resource.title}}
        </h1>

        {% if require_lockdown_app == 'seb' %}
        <a class="button warning" href="{{SEB_QUIT_LINK}}">{% translate "Close this window" %}</a>
        {% endif %}

    </header>

    <main>
        <p class="lead">
            {% blocktranslate with name=user.get_full_name %} Hi {{name}}.{% endblocktranslate %}
            {% translate "You have already attempted this activity." %}
            <br>
            {% blocktranslate count num_attempts=object_list|length %}You can resume or review your previous attempt{% plural %}You can resume or review your previous attempts{% endblocktranslate %}{% if can_start_new_attempt %}{% translate ", or start a new one" %}{% endif %}.
        </p>

        {% if resource.discounted_parts.exists %}
        <div class="alert info">
            <p>{% blocktranslate %}Parts of this activity have been discounted by an instructor. Your final score may not match the one you see.{% endblocktranslate %}</p>
        </div>
        {% endif %}

        {% if is_available %}
            {% if due_date_passed %}
            <div class="alert info">
                <p>{% blocktranslate %}The due date for this activity has passed, but it is still open. You can continue to attempt this activity, subject to any late work policy.{% endblocktranslate %}</p>
                <p>{% blocktranslate %}Or, you can review your attempts without making any changes, for no penalty.{% endblocktranslate %}</p>
            </div>
            {% endif %}
        {% else %}
            <div class="alert info">
                <p>{% blocktranslate %}This activity is now closed.{% endblocktranslate %}{% if object_list.exists %} {% blocktranslate %}You can review your existing attempts.{% endblocktranslate %}{% endif %}</p>
            </div>
        {% endif %}

        {% for message in messages %}
        <div class="alert info">
            {{message}}
        </div>
        {% endfor %}

        {% if resource.show_marks_when == 'review' and resource.allow_review_from %}
            {% if review_allowed %}
                <p class="info">{% blocktranslate %}Full review is now allowed.{% endblocktranslate %}</p>
            {% else %}
                <p class="warning">{% blocktranslate with time_iso=resource.allow_review_from|date:"c" time=resource.allow_review_from %}Full review will be available from <time datetime="{{time_iso}}">{{time}}</time>.{% endblocktranslate %}</p>
            {% endif %}
        {% endif %}

        <table class="attempts">
            <thead>
                <tr>
                    <th scope="col">{% translate "Start time" %}</th>
                    <th scope="col">{% translate "Status" %}</th>
                    <th scope="col">{% translate "Score" %}</th>
                    <th scope="col"><span class="sr-only">{% translate "Controls" %}</span></th>
                </tr>
            </thead>
            <tbody>
                {% if can_start_new_attempt %}
                <tr>
                    <td colspan="3">
                    <td>
                        <a class="button warning" href="{% url_with_lti 'new_attempt' resource.pk %}">{% icon 'plus' %} {% translate "Start a new attempt" %}</a>
                    </td>
                </tr>
                {% endif %}
                {% for attempt in object_list %}
                <tr>
                    <td>{% time_tag attempt.start_time %}</td>
                    <td>
                        {{attempt.get_completion_status_display}}
                        {% if attempt.student_has_reopened %}
                        <small>({% translate "Re-opened" %})</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if attempt.should_show_scores %}
                            {{attempt.raw_score}} / {{attempt.max_score}} ({{attempt.scaled_score|percentage}})
                        {% endif %}
                        {% if attempt.is_remarked %}
                            <br>
                            <small>{% translate "This score has been manually changed by an instructor." %}</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if attempt.completed %}
                            <a title="{% blocktranslate with start_time=attempt.start_time %}Review attempt started at {{start_time}}{% endblocktranslate %}" class="button info" href="{% url_with_lti 'run_attempt' pk=attempt.pk %}">
                                {% icon 'play' %} {% translate "Review this attempt" %}
                            </a>

                            {% if attempt.student_can_reopen %}
                            <form action="{% url_with_lti 'reopen_attempt' attempt.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="button warning">
                                    {% icon 'eye-open' %}
                                    {% translate "Re-open this attempt" %}
                                </button>
                            </form>
                            {% endif %}
                        {% else %}
                            {% if attempt.resume_allowed %}
                                <a title="{% blocktranslate with start_time=attempt.start_time %}Continue attempt started at {{start_time}}{% endblocktranslate %}" class="button {% if attempt.completed %}info{% else %}primary{% endif %}" href="{% url_with_lti 'run_attempt' pk=attempt.pk %}">
                                    {% icon 'play' %} {% translate "Continue" %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>{% blocktranslate %}These are the feedback settings for this activity:{% endblocktranslate %}</p>

        <table class="settings-table">
            <thead>
                <tr>
                    <th scope="col">{% translate "Feedback" %}</th>
                    <th scope="col">{% translate "Available from" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for label, when in exam_info %}
                <tr>
                    <td scope="row">{{label}}</td>
                    <td>
                        {% if when == 'always' %}{% translate "The start of the attempt" %}{% endif %}
                        {% if when == 'oncompletion' %}{% translate "Immediately after finishing" %}{% endif %}
                        {% if when == 'inreview' %}{% translate "When full review is allowed" %}{% endif %}
                        {% if when == 'never' %}{% translate "Never" %}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    {% include "numbas_lti/footer.html" %}
</div>
{% endblock content %}
