{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}

{% block title %}{% translate "Stress tests" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Stress tests" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <p>{% blocktranslate %}Use the stress test feature to see how the LTI provider copes with high demand.{% endblocktranslate %}</p>

    <table class="table">
        <thead>
            <tr>
                <th>{% translate "Test" %}</th>
                <th>{% translate "Number of attempts" %}</th>
                <th>{% translate "Manage" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for test in object_list %}
            <tr>
                <td><a href="{% url 'view_stresstest' test.pk %}">{{test}}</a></td>
                <td>{% blocktranslate count num_attempts=test.resource.attempts.count %}1 attempt{% plural %}{{num_attempts}} attempts{% endblocktranslate %}</td>
                <td>
                    <form method="POST" action="{% url 'delete_stresstest' test.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">{% translate "Delete" %}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'create_stresstest' %}">{% translate "Start a stress test" %}</a>
{% endblock %}
