#access-changes {
    display: flex;
    flex-wrap: wrap;
    gap: var(--double-space);
}

#access-changes li {
  flex-basis: 30em;
}

.access-change > header {
    font-size: 1.2em;
    font-weight: bold;
}
