.remark-part {
    cursor: pointer;
}
.part input.score {
    width: 6em;
}
table#parts {
    width: auto;
}
table#parts .question-id {
    font-size: 1.2em;
    font-weight: bold;
}
table#parts th {
    text-align: center;
}
table#parts td {
  border-left-style: dashed;
  vertical-align: middle;
}
table#parts td:first-child {
    border-left: none;
}

.part.discounted td, .part.remarked td {
    background-color: var(--info-alert-bg);
}

.part .original-score {
    text-align: right;
}

.control form {
    display: inline-block;
}
.monospace {
    font-family: monospace;
}
