body:not(.loaded) #app,
body.loaded #loading {
    display: none;
}

.item .exam-score {
    text-align: right;
}

td {
    vertical-align: top;
}

.exam-score.changed {
    position: sticky;
    top: 3.4em;
    background: var(--td-bg);
}

#timeline .glyphicon {
    position: static;
}
