body:not(.loaded) #app,
body.loaded #loading {
    display: none;
}

#timeline thead th {
  position: sticky;
  top: 0;
  background: #eee;
}

.item .exam-score {
    text-align: right;
}

td {
    vertical-align: top;
}

.exam-score.changed {
    position: sticky;
    top: 4em;
    background: white;
}

#timeline .glyphicon {
    position: static;
}
