:root {
    --font-size: 16px;
    --font-family: sans-serif;
    --spacing: 0.5rem;
    --half-space: calc(0.5 * var(--spacing));
    --double-space: calc(2 * var(--spacing));
    --background-colour: white;
    --text-colour: black;
    --main-colour: #a2d1f0;
    --main-darker: #85c3eb;

    --success-colour: green;
    --warning-colour: orange;
    --danger-colour: red;
    --muted-colour: gray;
    --info-colour: lightblue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: black;
        --text-colour: white;
    }
}

* {
    box-sizing: border-box;
}

.success { color: var(--success-colour); }
.warning { color: var(--warning-colour); }
.danger { color: var(--danger-colour); }
.muted { color: var(--muted-colour); }
.info { color: var(--info-colour); }

html {
    font-size: var(--font-size);
}


nav > a:not(:hover,:focus) {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100%;
    font-family: var(--font-family);
    background: var(--background-colour);
    color: var(--text-colour);
    margin: 0;
}

button, .button, input {
    display: inline-block;
    font-size: inherit;
    padding: calc(0.5 * var(--spacing)) var(--spacing);
    margin: var(--spacing);
    line-height: calc(1em + var(--spacing));
}

.button.link:not(:hover, :focus) {
    text-decoration: none;
}

table {
    margin: var(--double-space) 0;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: var(--spacing);
    border-bottom: 1px solid #ccc;
}

th {
    background: #eee;
}
th ~ th {
    border-left: 1px solid #ccc;
}

p {
    margin: 0 0 var(--double-space) 0;
}

code {
    background: #eee;
    padding: 0 var(--half-space);
    word-break: break-all;
}

#top-nav {
    margin-bottom: var(--double-space);
    padding: var(--double-space);
    display: grid;
    gap: var(--double-space);
    justify-content: space-between;
    align-items: baseline;
    background: var(--main-colour);
    grid-template-columns: repeat(auto-fill,10em) [last-start] 10em [last-end];
}

#top-nav > .navbar-brand {
    grid-column: span 2;
    justify-self: center;
}
#top-nav > #search-form {
    grid-column: 1 / -1;
    display: flex;
}
#top-nav > #search-form > input[type="search"] {
    flex-grow: 1;
    margin-right: 0;
}
#top-nav > #search-form > button {
    margin-left: 0;
}
#top-nav > #admin-link {
    grid-column: last;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.1em;
    display: inline-block;
    vertical-align: bottom;
}

:is(button, .btn) .icon {
    vertical-align: middle;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

body > header {
    padding: var(--spacing);
    margin-bottom: var(--spacing);
}

body > header > h1 {
    margin: 0;
}

body > main {
    padding: var(--spacing);
}

body.dashboard ul.actions li ~ li {
    border-top: 1px solid #ccc;
}
body.dashboard ul.actions li {
    padding: 1em 0;
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default.resource-management-navbar .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.resource-management-navbar .navbar-brand .context-name {
    font-style: italic;
}

.management-footer {
    font-style: italic;
    text-align: center;
    margin: 5rem 2rem 0 2rem;
    padding: 2rem 0;
    border-top: 1px solid hsl(0, 0%, 90.6%);
}

.management-footer a {
    color: hsl(208.3, 56%, 31.2%);
}

.helplink {
    font-size: 1.1em;
    margin: 0 var(--spacing) var(--double-space) var(--double-space);
    text-align: right;
}

.lockdown-app-password {
    text-align: center;
    font-size: 1.2em;
    color: black;
    background: white;
}

body.create-exam #available-exams {
    max-height: 35rem;
    overflow-y: auto;
}
body.create-exam #available-exams .available-exam.exclude {
    display: none;
}

body.edit-editor-link .project h3 {
    margin-top: 0;
    font-size: 1.3em;
}
body.edit-editor-link .question.getPart(avatar ){
    width: 2em;
}
