h2, h3 {
    text-align: center;
}

.chart svg {
    display: block;
    margin: 2rem auto;
    width: 100%;
}
.ct-label {
    font-size: 1em;
}
.x-axis .tick line {
    stroke: var(--muted-color);
    stroke-dasharray: 2 2;
}
.question-dot {
    opacity: 0.5;
}

.question-bg {
    fill: var(--td-bg);
    stroke: var(--muted-color);
    stroke-width: 1;
    opacity: 0.5;
}

section {
    margin: 3rem auto;
    page-break-inside: avoid;
    break-inside: avoid;
}

.num_not_attempted rect {
    fill: url(#not-attempted-fill);
}
.num_incorrect rect {
    fill: url(#incorrect-fill);
}
.num_partial rect {
    fill: url(#partial-fill);
}
.num_correct rect {
    fill: url(#correct-fill);
}

.legend {
    display: flex;
    justify-content: space-evenly;
}
.legend > span {
    margin: 1em;
}

#stacked_status_chart .percentage {
    text-anchor: middle;
}

#times circle {
    r: 2px;
}

#times circle.start {
    fill: var(--info-color);
}

#times circle.end {
    fill: var(--success-color);
}

#times line.duration {
    stroke: var(--info-color);
    stroke-opacity: 0.4;
}

#times .tip line {
    stroke: var(--info-color);
    stroke-dasharray: 8 5;
}

@media print {
    #times circle {
        r: 3px;
    }
    #times circle.start {
        fill: var(--info-color);
    }
    #times circle.end {
        fill: var(--success-color);
    }
}
