body {
    margin: 0;
}
#scorm-player {
    border: none;
}
body.ended #scorm-player {
    display: none;
}

#status-display {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.4em 1em;
    border-radius: 4px 0 0 0;
    background: hsl(0,90%,50%);
    color: white;
    font-family: sans-serif;
    transition: background-color 0.5s;
}
#status-display a {
    color: white;
}
#status-display.ok:not(.ended) {
    display: none;
}
#status-display .status-message {
    display: none;
}
#status-display:not(.localstorage-used) .text-localstorage-used {
    display: none;
}
body:not(.terminated) #status-display:hover:not(:focus) .symbol {
    animation: wobble 0.3s infinite linear;
    display: block;
}
@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
body.terminated #status-display .symbol, #status-display .symbol {
    display: none;
}
#status-display.disconnected .text-disconnected,
#status-display.ended .text-ended,
#status-display.ok .text-ok,
#status-display.terminated:not(.ok) .text-terminated {
    display: block;
}

body.terminated #status-display {
    left: 0;
    font-size: 1.5rem;
    padding-bottom: 2em;
    position: static;
}
body.terminated .text-localstorage-used {
    display: none;
}
