{% extends "numbas_lti/lti_13/base.html" %}
{% load i18n %}

{% block main %}
<p>{% blocktranslate %}Chirun produces flexible and accessible notes, in a variety of formats, using LaTeX or Markdown source.{% endblocktranslate %}</p>
<p>{% blocktranslate %}This is the web-based Chirun processor and LTI tool.{% endblocktranslate %}</p>

{% if ALLOW_DYNAMIC_REGISTRATION %}
<p><a href="{% url 'lti:register' %}">{% translate "Register with this LTI tool" %}</a></p>
{% endif %}

<p><a class="action" href="{% url 'material:new' %}">{% translate "Create a new package" %}</a></p>

{% endblock main %}
