{% extends "numbas_lti/lti_13/base.html" %}
{% load i18n %}
{% load querystring %}

{% block title %}{{resource_link.title}}{% endblock title %}
{% block page_title %}{{resource_link.title}}{% endblock page_title %}

{% block main %}
Teacher launch!

<h2>Existing resource links</h2>
<form method="post" action="{% url_with_lti 'lti_13:create_resource' %}">
    {% csrf_token %}
    {% for field in new_resource_form %}
    {{field.as_hidden}}
    {% endfor %}

    <button type="submit">{% translate "Create a new resource" %}</button>
</form>

<ul>
    {% for resource in resources %}
    <li>
        <a href="{% url_with_lti 'resource_dashboard' resource.pk %}">{{resource}}</a>
        <ul>
            {% for link in resource.lti_13_links.all %}
            <li>{{link.resource_link_id}}, {{link.title}}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<h2>Launch data</h2>

<dl>
    <dt>User</dt>
    <dd>{{user}}</dd>

    <dt>Message launch</dt>
    <dd>{{message_launch}}</dd>

    <dt>LTI Tool</dt>
    <dd>{{lti_tool.title}}, {{lti_tool.issuer}}, {{lti_tool.client_id}}</dd>

    <dt>LTI Context</dt>
    <dd>{{lti_context.name}} - {{lti_context.label}} ({{lti_context.context_id}})</dd>

    <dt>Message launch data</dt>
    <dd>
        <dl>
            {% for key, val in message_launch_data.items %}
            <dt>{{key}}</dt>
            <dd>{{val}}</dd>
            {% endfor %}
        </dl>
    </dd>

    <dt>Resource link claim</dt>
    <dd>{{resource_link_claim}}</dd>
</dl>
{% endblock main %}
