{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Add a new SEB settings file" %} - {{block.super}}{% endblock %}

{% block management_content %}
<div class="container">
    <header>
        <h1>{% trans "Add a new SEB settings file" %}</h1>
    </header>

    <main>
        {% include "numbas_lti/management/admin/seb_settings/config_instructions.html" %}
        <hr>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add SEB settings" %}</button>
        </form>
    </main>
</div>
{% endblock management_content %}
