{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% translate "Add a new SEB settings file" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Add a new SEB settings file" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% include "numbas_lti/management/admin/seb_settings/config_instructions.html" %}

    <hr>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">{% icon 'plus' %} {% translate "Add SEB settings" %}</button>
    </form>
{% endblock management_content %}
