{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% translate "Edit a SEB settings file" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Edit a SEB settings file" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% include "numbas_lti/management/admin/seb_settings/config_instructions.html" %}

    <hr>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="button primary">{% icon 'save' %} {% translate "Save" %}</button>
        <a class="button link" href="{% url 'list_seb_settings' %}">{% translate "Cancel" %}</a>
        <a class="button danger" href="{% url 'delete_seb_settings' object.pk %}">{% icon 'trash' %} {% translate "Delete this settings file" %}</a>
    </form>
{% endblock management_content %}
