header :is(:any-link,a,link):not(:hover,:focus,:active) {
    color: var(--text-color);
}
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);
    align-items: revert;
}

.card-list .card {
    border-width: medium;
    
    & img {
        width: 100%;
    }
}


.big-link {
    background-image: var(--bg-image);
    background-size: 150svw;
    background-position: center;
    min-height: 10lh;
    display: grid;
    align-content: end;
    justify-content: start;
    
    margin-block: var(--double-space);
    
    & > .alert {
        padding: var(--double-space);
        margin: var(--double-space);
        
        & a:not(:active,:hover,:focus) {
            text-decoration: none;
        }
        
        & h2 {
            margin-top: 0;
        }
        
        & p:last-child {
                    color: var(--text-color);
            margin-bottom: 0;
        }
    }
}

#subtopics {
  display: grid;
  gap: var(--double-space);
  grid-template-columns: repeat(auto-fit,20em);
  justify-content: center;
}

small.progress {
    font-style: italic;
}
