{% extends "numbas_lti/error_message.html" %}
{% load i18n %}

{% block body_class %}{{block.super}} launch-error message-validation-error{% endblock %}

{% block title %}{% translate "The LTI launch message is invalid" %} - {{block.super}}{% endblock %}
{% block header_message %}{% translate "The LTI launch message is invalid" %}{% endblock %}

{% block main %}
    <p>{{exception}}</p>

    <dl>
        <dt>Cache</dt>
        <dd><code>{{cache}}</code></dd>

        <dt>Cache servers</dt>
        <dd><code>{{cache_servers}}</code></dd>

        <dt>Nonce key</dt>
        <dd><code>{{nonce_key}}</code></dd>

        <dt>Cached nonce key</dt>
        <dd><code>{{cached_nonce_key}}</code></dd>

        <dt>Cached nonce</dt>
        <dd><code>{{cached_nonce}}</code></dd>

        <dt>Received nonce</dt>
        <dd><code>{{received_nonce}}</code></dd>
    </dl>

    <h2>JWT body</h2>
    <dl>
        {% for k,v in jwt_body.items %}
        <dt>{{k}}</dt><dd><code>{{v}}</code></dd>
        {% endfor %}
    </dl>


    <h2>POST data</h2>
    <dl>
        {% for k,v in request.POST.items %}
        <dt>{{k}}</dt><dd><code>{{v}}</code></dd>
        {% endfor %}
    </dl>


{% endblock main %}
