{% extends "numbas_lti/error_message.html" %}
{% load i18n %}

{% block body_class %}{{block.super}} launch-error not-seb-launch{% endblock %}

{% block title %}{% translate "Not launched by Safe Exam Browser" %} - {{block.super}}{% endblock %}
{% block header_message %}{% translate "Not launched by Safe Exam Browser" %}{% endblock %}

{% block main %}
    <p>{% blocktranslate %}This resource must be launched through Safe Exam Browser with the correct settings.{% endblocktranslate %}</p>
{% endblock main %}
