{% extends "numbas_lti/error_message.html" %}
{% load i18n %}

{% block body_class %}{{block.super}} launch-error not-an-lti-launch{% endblock %}

{% block header_message %}{% translate "Not an LTI launch" %}{% endblock %}

{% block main %}
    <p>{% translate "This URL is supposed to be used to launch an LTI activity." %}</p>

    {% if debug %}
    <h2>POST data</h2>
    <p>{% blocktranslate %}You should see some LTI-related items in the table below, such as <code>lti_message_type</code> and <code>lti_version</code>." {% endblocktranslate %}</p>
    <p>{% translate "If those aren't present, it's likely that you haven't arrived via an LTI launch." %}</p>
    <table>
        <thead>
            <tr><th>{% translate "Key" %}</th><th>{% translate "Value" %}</th></tr>
        </thead>
        <tbody>
            {% for key,value in post_data %}
            <tr><td><code>{{key}}</code></td><td><code>{{value}}</code></td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock main %}
