{% extends "numbas_lti/error_message.html" %}
{% load i18n %}

{% block body_class %}{{block.super}} launch-error unrecognised-lti-message-type{% endblock %}

{% block header_message %}{% translate "Unrecognised LTI launch type" %}{% endblock %}

{% block main %}
    <p>{% blocktranslate %}The launch message type <code>{{lti_message_type}}</code> was not recognised.{% endblocktranslate %}</p>
    <p>{% translate "It's possible you're trying to do something using a version of LTI that this tool was not designed for." %}</p>
{% endblock main %}
