{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% blocktranslate with name=object.name %}Delete link to editor "{{name}}"{% endblocktranslate %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Delete an editor connection" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <main>
        <p>
            {% blocktranslate with name=editorlink.name%}Are you sure you want to delete the connection to {{name}}?{% endblocktranslate %}
        </p>
        <form method="POST" action="">
            {% csrf_token %}
            <p>
                <button type="submit" class="btn btn-danger">{% icon 'trash' %} {% translate "Delete this connection" %}</button>
                <a class="btn btn-link" href="{% url 'list_editorlinks' %}">Cancel</a>
            </p>
        </form>
    </main>
</div>
{% endblock management_content %}
