{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% translate "Connect to a Numbas editor" %} - {{block.super}}{% endblock %}a

{% block management_header %}
    <h1>{% translate "Connect to a Numbas editor" %}</h1>
{% endblock management_header %}

{% block management_content %}
<div class="container">
    <main>
        <form method="POST" action="">
            {% csrf_token %}
            {{form}}

            <button type="submit" class="btn btn-primary">{% icon 'plus' %} {% translate "Connect" %}</button>
            <a class="btn btn-link" href="{% url 'list_editorlinks' %}">{% translate "Cancel" %}</a>
        </form>
    </main>
</div>
{% endblock management_content %}
