{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}

{% block title %}{% translate "Connect to a Numbas editor" %} - {{block.super}}{% endblock %}a

{% block management_header %}
    <h1>{% translate "Connect to a Numbas editor" %}</h1>
{% endblock management_header %}

{% block management_content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{form}}

        <button type="submit" class="button primary">{% icon 'plus' %} {% translate "Connect" %}</button>
        <a class="button link" href="{% url 'list_editorlinks' %}">{% translate "Cancel" %}</a>
    </form>
{% endblock management_content %}
