{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with name=object.name %}Edit link to "{{name}}"{% endblocktranslate %} - {{block.super}}{% endblock %}

{% block body_class %}{{block.super}} edit-editor-link{% endblock %}

{% block stylesheets %}
{{block.super}}
<style type="text/css">
</style>
{% endblock stylesheets %}

{% block management_content %}
<form method="POST">
    {% csrf_token %}

    {{form}}

    <fieldset>
        <legend>{% translate "Select projects to make available" %}</legend>

        <p>{% blocktranslate %}To appear in this list, a project must be marked "Visible to non-members" in the editor.{% endblocktranslate %}</p>
        <p>{% translate "Exams from selected projects will be made available to instructors when they create an activity." %}</p>

        {% if project_formset|length %}
            <p>{% translate "Select the projects you'd like to make available below." %}</p>
        {% else %}
            <p class="alert warning">{% blocktranslate %}No projects have been made visible - go to the editor and mark a project "Visible to non-members" before proceeding.{% endblocktranslate %}</p>
        {% endif %}

        {{project_formset.management_form}}
        {{project_formset.non_form_errors}}
        <table>
            <tbody>
                {% for pform,project in projects %}
                <tr class="project">
                    <td>{{pform.use}}</td>
                    <td>
                        <a class="project-name" target="_blank" href="{{pform.homepage.value}}">{{pform.name.value}}</a>
                        <small class="project-owner">
                            {% translate "by" %} <a href="{{project.owner.profile}}" target="_blank">
                                {% if project.owner.avatar %}<img alt="picture of {{project.owner.full_name}}" src="{{project.owner.avatar.40x40}}" class="avatar"> {% endif %}
                                {{project.owner.full_name}}
                            </a>
                        </small>
                        <div class="project-description">{{pform.description.value|safe}}</div>
                        {{pform.errors}}
                    </td>
                    <td>
                        {% blocktranslate count counter=project.num_questions %}
                        1 question
                        {% plural %}
                        {{counter}} questions
                        {% endblocktranslate %}
                        and
                        {% blocktranslate count counter=project.num_exams %}
                        1 exam
                        {% plural %}
                        {{counter}} exams
                        {% endblocktranslate %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for pform in project_formset %}
            {{pform.name}}
            {{pform.description}}
            {{pform.remote_id}}
            {{pform.homepage}}
            {{pform.rest_url}}
        {% endfor %}
    </fieldset>
    <button class="button primary" type="submit">{% translate "Save" %}</button>
</form>
{% endblock management_content %}
