{% extends "numbas_lti/management/admin/base.html" %}
{% load i18n %}
{% load icon %}
{% load static %}

{% block title %}{% translate "Editor links" %} - {{block.super}}{% endblock %}

{% block management_header %}
    <h1>{% translate "Editor links" %}</h1>
{% endblock management_header %}

{% block management_content %}
    {% if object_list.exists %}
        <p>{% translate "The configured Numbas editor connections are listed below." %}</p>

        <table class="table-striped">
            <thead>
                <tr>
                    <th>{% translate "Editor" %}</th>
                    <th>{% translate "Projects" %}</th>
                    <th>{% translate "Manage" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for link in object_list %}
                <tr>
                    <td>
                        <a target="_blank" href="{{link.url}}">
                            {{link.name}}
                            <br>
                            <small>{{link.url}}</small>
                        </a>
                    </td>
                    <td>
                        {% if link.projects.exists %}
                        <ul>
                        {% for project in link.projects.all %}
                            <li><a target="_blank" href="{{project.homepage}}">{{project.name}}</a></li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p>{% translate "No projects linked yet." %}</p>
                        {% endif %}
                    </td>
                    <td>
                        <a class="button primary" href="{% url 'edit_editorlink' link.pk %}">{% icon 'cog' %} {% translate "Edit" %}</a>
                        <a class="button danger" href="{% url 'delete_editorlink' link.pk %}" title="{% translate "Delete this connection" %}">{% icon 'trash' %} <span class="sr-only">{% translate "Delete this connection" %}</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url 'create_editorlink' %}" class="button primary">{% icon 'plus' %} {% translate "Connect to a Numbas editor" %}</a></p>

    {% else %}
        <div class="alert warning">
            <p>{% translate "No links to Numbas editors have been set up yet." %}</p>
            <p><a href="{% url 'create_editorlink' %}" class="button primary">{% icon 'plus' %} {% translate "Connect to a Numbas editor" %}</a></p>
        </div>
    {% endif %}
{% endblock management_content %}
